@use "sass:map";

/* =========================================
   SPACING SCALE (you can adjust values)
========================================= */
:root {
	--space-0: 0;
	--space-1: 5px;
	--space-2: 10px;
	--space-3: 15px;
	--space-4: 20px;
	--space-5: 25px;
	--space-6: 30px;
	--space-50: 50%;
	--space-60: 60px;
	--space-70: 70px;
	--space-80: 80px;
	--space-90: 90px;
	--space-100: 100%;

	--z-index-1: 9;
	--z-index-2: 99;
	--z-index-3: 999;
	--z-index-4: 9999;
	--z-index-5: 99999;
	--z-index-6: 999999;

	--order-0: 0;
	--order-1: 1;
	--order-2: 2;
	--order-3: 3;
	--order-4: 4;
	--order-5: 5;
	--order-last: 9999;

	--line-height-1: 1em;
	--line-height-1-1: 1.1em;
	--line-height-1-2: 1.2em;
	--line-height-1-5: 1.5em;
	--line-height-2: 2em;

	--color-primary: #3CBE78;
	--color-primary-light: #B4F08C;
	--color-primary-light-2: #DDF8CB;
	--color-primary-light-3: #F0FCE8;
	--color-primary-dark: #0a6e3c;

	--color-secondary: #A596FA;

	--color-tm-white: #ffffff;
	--color-tm-white-rgb: 255, 255, 255;

	--color-tm-black: #000000;
	--color-tm-black-rgb: 0, 0, 0;

	--color-tm-gray-1: #f5f5f5;
	--color-tm-gray-2: #8c8c8c;
	--color-tm-gray-3: #5a5a5a;
	--color-tm-gray-4: #dcdcdc;
	--color-tm-gray-5: #232323;
	--color-tm-gray-6: #e8e8e8;
	--color-tm-gray-7: #444444;
	--color-tm-gray-8: #E2E2E2;
	--color-tm-gray-9: #BEBEBE;

	--color-1: #C8F0B4;
	--color-1-dark: #0A6E3C;
	--color-2: #E8E5AF;
	--color-2-dark: #854F00;
	--color-3: #F7DED4;
	--color-3-dark: #780000;
	--color-4: #FAD9E2;
	--color-4-dark: #87004F;

	--font-family-1: 'Inter', sans-serif;
	--font-family-2: "Inter Tight", sans-serif;
	--font-family-3: 'Bricktown', sans-serif;
	--font-family-4: "Borel", cursive;

	--font-weight-thin: 100;
	--font-weight-extralight: 200;
	--font-weight-light: 300;
	--font-weight-normal: 400;
	--font-weight-medium: 500;
	--font-weight-semibold: 600;
	--font-weight-bold: 700;
	--font-weight-extrabold: 800;
	--font-weight-black: 900;
	
	--bs-gutter-x: 30px;
	--bs-gutter-y: 30px;
}

* {
	outline: none;
}

input::-webkit-search-cancel-button {
	-webkit-appearance: none;
	appearance: none;
	background-color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 1000px transparent inset;
	-webkit-text-fill-color: inherit;
	transition: background-color 9999s ease-out 0s;
}

input:-moz-autofill {
	box-shadow: 0 0 0 1000px transparent inset;
	color: inherit;
}

/* Modern browsers */
input::placeholder {
	color: var(--color-tm-gray-2);
	opacity: 1;
	/* important for Firefox */
}

/* Chrome, Edge, Safari */
input::-webkit-input-placeholder {
	color: var(--color-tm-gray-2);
}

/* Firefox */
input::-moz-placeholder {
	color: var(--color-tm-gray-2);
}

/* Internet Explorer / old Edge (optional) */
input:-ms-input-placeholder {
	color: var(--color-tm-gray-2);
}

/** Text Colors */
.text-primary {
	color: var(--color-primary);
}

.text-primary-dark {
	color: var(--color-primary-dark);
}

.text-secondary {
	color: var(--color-secondary);
}

.text-white {
	color: var(--color-tm-white);
}

.text-gray-2 {
	color: var(--color-tm-gray-2);
}

.text-gray-5 {
	color: var(--color-tm-gray-5);
}

.text-color-1-dark {
	color: var(--color-1-dark);
}

/** Background Colors */
.bg-primary {
	background-color: var(--color-primary);
}

.bg-primary-light-2 {
	background-color: var(--color-primary-light-2);
}

.bg-white {
	background-color: var(--color-tm-white);
}

.bg-black {
	background-color: var(--color-tm-black);
}

.bg-gray-1 {
	background-color: var(--color-tm-gray-1);
}

.bg-gray-5 {
	background-color: var(--color-tm-gray-5);
}

/** Font Family */
.ff-2 {
	font-family: var(--font-family-2);
}

.ff-3 {
	font-family: var(--font-family-3);
}

.ff-4 {
	font-family: var(--font-family-4);
}

/** Font Weight */
.fw-thin {
	font-weight: var(--font-weight-thin);
}

.fw-extralight {
	font-weight: var(--font-weight-extralight);
}

.fw-light {
	font-weight: var(--font-weight-light);
}

.fw-normal {
	font-weight: var(--font-weight-normal);
}

.fw-medium {
	font-weight: var(--font-weight-medium);
}

.fw-semibold {
	font-weight: var(--font-weight-semibold);
}

.fw-bold {
	font-weight: var(--font-weight-bold);
}

.fw-extrabold {
	font-weight: var(--font-weight-extrabold);
}

.fw-black {
	font-weight: var(--font-weight-black);
}

/** Font Transform */
.tt-none {
	text-transform: none;
}

.tt-lowercase {
	text-transform: lowercase;
}

.tt-uppercase {
	text-transform: uppercase;
}

.tt-capitalize {
	text-transform: capitalize;
}

/** Text Decoration */
.td-none {
	text-decoration: none;
}

.td-underline {
	text-decoration: underline;
}

.td-overline {
	text-decoration: overline;
}

.img-fluid img {
	width: 100%;
}

/* =========================
   Base (Mobile First)
========================= */
// 12px
.fz-xs {
	font-size: 12px;
}

// 14px
.fz-sm {
	font-size: 14px;
}

// 16px
.fz-md {
	font-size: 16px;
}

// 18px
.fz-lg {
	font-size: 15px;
}

// 21px
.fz-xl {
	font-size: 20px;
}

// 24px
.fz-xxl {
	font-size: 18px;
}

// 30px
.fz-3xl {
	font-size: 24px;
}

// 36px
.fz-4xl {
	font-size: 28px;
}

// 48px
.fz-5xl {
	font-size: 32px;
}

// 60px
.fz-6xl {
	font-size: 36px;
}

// 72px
.fz-7xl {
	font-size: 40px;
}

// 124px
.fz-8xl {
	font-size: 60px;
}

// 160px
.fz-9xl {
	font-size: 70px;
}

/* =========================
   ≥576px (Small Devices)
========================= */
@media (min-width: 576px) {
	.fz-lg {
		font-size: 18px;
	}

	.fz-xxl {
		font-size: 24px;
	}

	.fz-3xl {
		font-size: 26px;
	}

	.fz-4xl {
		font-size: 30px;
	}

	.fz-5xl {
		font-size: 34px;
	}

	.fz-6xl {
		font-size: 38px;
	}

	.fz-7xl {
		font-size: 44px;
	}
}

/* =========================
   ≥768px (Tablet)
========================= */
@media (min-width: 768px) {
	.fz-xl {
		font-size: 21px;
	}

	.fz-3xl {
		font-size: 30px;
	}

	.fz-4xl {
		font-size: 32px;
	}

	.fz-5xl {
		font-size: 40px;
	}

	.fz-6xl {
		font-size: 46px;
	}

	.fz-7xl {
		font-size: 52px;
	}
}

/* =========================
   ≥992px (Desktop)
========================= */
@media (min-width: 992px) {
	.fz-4xl {
		font-size: 36px;
	}

	.fz-5xl {
		font-size: 48px;
	}

	.fz-6xl {
		font-size: 60px;
	}

	.fz-7xl {
		font-size: 60px;
	}

	.fz-8xl {
		font-size: 80px;
	}

	.fz-9xl {
		font-size: 100px;
	}
}

/* =========================
   ≥1200px (Large Desktop)
========================= */
@media (min-width: 1200px) {
	.fz-6xl {
		font-size: 56px;
	}

	.fz-7xl {
		font-size: 70px;
	}

	.fz-8xl {
		font-size: 100px;
	}

	.fz-9xl {
		font-size: 120px;
	}
}

@media (min-width: 1400px) {
	.fz-8xl {
		font-size: 124px;
	}

	.fz-9xl {
		font-size: 160px;
	}
}

$small_device: 576px;
$medium_device: 768px;
$large_device: 992px;
$_1x_large_device: 1200px;
$_2x_large_device: 1400px;
$_3x_large_device: 1600px;
$_4x_large_device: 1920px;

$breakpoints: (
	sm: $small_device,
	md: $medium_device,
	lg: $large_device,
	xl: $_1x_large_device,
	xxl: $_2x_large_device,
	3xl: $_3x_large_device,
	4xl: $_4x_large_device
);

/* Map of container max-widths per breakpoint */
$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1140px,
	xxl: 1320px,
	3xl: 1320px,
	4xl: 1320px
);

$width_height: (
	0: 0,
	auto: auto,
	50: 50%,
	100: 100%,
);

$cols: (
	1: 8.333%,
	2: 16.666%,
	3: 25%,
	4: 33.333%,
	5: 41.666%,
	6: 50%,
	7: 58.333%,
	8: 66.666%,
	9: 75%,
	10: 83.333%,
	11: 91.666%,
	12: 100%,
);

$offsets: (
	0: 0,
	1: 8.333%,
	2: 16.666%,
	3: 25%,
	4: 33.333%,
	5: 41.666%,
	6: 50%,
	7: 58.333%,
	8: 66.666%,
	9: 75%,
	10: 83.333%,
	11: 91.666%,
);

$spaces: (
	0: var(--space-0),
	1: var(--space-1),
	2: var(--space-2),
	3: var(--space-3),
	4: var(--space-4),
	5: var(--space-5),
	6: var(--space-6),
	50: var(--space-50),
	60: var(--space-60),
	70: var(--space-70),
	80: var(--space-80),
	90: var(--space-90),
	100: var(--space-100)
);

$orders: (
	0: var(--order-0),
	1: var(--order-1),
	2: var(--order-2),
	3: var(--order-3),
	4: var(--order-4),
	5: var(--order-5),
	last: var(--order-last),
);

$l-heights: (
	"1": var(--line-height-1),
	"1-1": var(--line-height-1-1),
	"1-2": var(--line-height-1-2),
	"1-5": var(--line-height-1-5),
	"2": var(--line-height-2),
);

$flex-utils: (
	"d": ("flex": flex, "inline-flex": inline-flex, "none": none, "block": block, "inline-block": inline-block),
	"flex-wrap": ("wrap": wrap, "nowrap": nowrap),
	"flex-direction": ("row": row, "row-reverse": row-reverse, "column": column, "column-reverse": column-reverse),
	"justify-content": ("start": flex-start, "center": center, "end": flex-end, "between": space-between),
	"align-items": ("start": flex-start, "center": center, "end": flex-end),
	"position": ("static": static, "relative": relative, "absolute": absolute),
	"text": ("start": left, "center": center, "end": right, "justify": justify),
);

/** Line Heights */
@each $key, $val in $l-heights {
	.lh-#{$key} {
		line-height: $val;
	}
}

/* =========================================
   CONTAINER
   Centers content with responsive max-width
========================================= */
.container-full {
	width: 100%;
}

.container,
.container-fluid {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

/* Generate responsive max-widths using loop */
@each $break, $size in $breakpoints {
	@if map-has-key($container-max-widths, $break) {
		@media (min-width: $size) {
			.container {
				max-width: map-get($container-max-widths, $break);
			}
		}
	}
}

/* =========================================
   ROW (Flex Wrapper)
========================================= */
.row {
	display: flex;
	flex-wrap: wrap;
	margin-left: calc(var(--bs-gutter-x) / -2);
	margin-right: calc(var(--bs-gutter-x) / -2);
}

.row-full {
	display: flex;
	flex-wrap: wrap;
}

.row > * {
	box-sizing: border-box;
	padding-left: calc(var(--bs-gutter-x) / 2);
	padding-right: calc(var(--bs-gutter-x) / 2);
	margin-bottom: var(--bs-gutter-y);
}

/* =========================================
   COLUMN BASE
   Applies padding and default full width
========================================= */
:not(.row-full)>[class*="col-"] {
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
}

/* =========================================
   AUTO LAYOUT COLUMNS
========================================= */

/* Equal width columns */
.col {
	flex: 1 0 0%;
}

/* Width based on content */
.col-auto {
	flex: 0 0 auto;
	width: auto;
}

/* ===== MOBILE-FIRST DEFAULTS ===== */
@each $key, $val in $cols {
	.col-#{$key} {
		flex: 0 0 $val;
		max-width: $val;
	}
}

/* =========================================
   ADD CSS-> COLUMNS
========================================= */
@each $break, $size in $breakpoints {
	@media (min-width: $size) {
		@each $key, $val in $cols {
			/* ===== COLUMNS ===== */
			.col-#{$break}-#{$key} {
				flex: 0 0 $val;
				max-width: $val;
				margin-bottom: 0;
			}
		}
	}
}

/* =========================================
   WIDTH CSS
========================================= */
@each $key, $val in $width_height {
	.w-#{$key} {
		width: $val;
	}
	.h-#{$key} {
		height: $val;
	}
}

@each $break, $size in $breakpoints {
	@media (min-width: $size) {
		@each $key, $val in $width_height {
			/* ===== COLUMNS ===== */
			.w-#{$break}-#{$key} {
				width: $val;
			}
			.h-#{$break}-#{$key} {
				height: $val;
			}
		}
	}
}

/* =========================================
   OFFSET CLASSES (Push columns to right)
========================================= */
@each $key, $val in $offsets {
	.offset-#{$key} {
		margin-left: $val;
	}
	.offset-r-#{$key} {
		margin-right: $val;
	}
}

/* =========================================
   ADD CSS-> OFFSETS
========================================= */
@each $break, $size in $breakpoints {
	@media (min-width: $size) {
		@each $key, $val in $offsets {

			/* ===== OFFSETS ===== */
			.offset-#{$break}-#{$key} {
				margin-left: $val;
			}

			.offset-r-#{$break}-#{$key} {
				margin-right: $val;
			}
		}
	}
}

/* ===== MOBILE-FIRST DEFAULTS ===== */
@each $prefix, $values in $flex-utils {
	@each $key, $val in $values {

		// Display CSS
		@if $prefix =="d" {
			.#{$prefix}-#{$key} {
				display: $val;
			}
		}

		// Flex Warp CSS
		@if $prefix =="flex-wrap" {
			.flex-#{$key} {
				flex-wrap: $val;
			}
		}

		// Flex Direction CSS
		@if $prefix =="flex-direction" {
			.flex-#{$key} {
				flex-direction: $val;
			}
		}

		// Align Items CSS
		@if $prefix =="justify-content" {
			.#{$prefix}-#{$key} {
				justify-content: $val;
			}
		}

		// Align Items CSS
		@if $prefix =="align-items" {
			.#{$prefix}-#{$key} {
				align-items: $val;
			}
		}

		// Position CSS
		@if $prefix =="position" {
			.#{$prefix}-#{$key} {
				position: $val;
			}
		}

		// Text CSS
		@if $prefix =="text" {
			.#{$prefix}-#{$key} {
				text-align: $val;
			}
		}
	}
}

@each $break, $size in $breakpoints {
	@media (min-width: $size) {

		/* ===== DISPLAY FLEX ===== */
		@each $prefix, $values in $flex-utils {
			@each $key, $val in $values {

				// Display CSS
				@if $prefix =="d" {
					.#{$prefix}-#{$break}-#{$key} {
						display: $val;
					}
				}

				// Flex Warp CSS
				@if $prefix =="flex-wrap" {
					.flex-#{$break}-#{$key} {
						flex-wrap: $val;
					}
				}

				// Flex Direction CSS
				@if $prefix =="flex-direction" {
					.flex-#{$break}-#{$key} {
						flex-direction: $val;
					}
				}

				// Align Items CSS
				@if $prefix =="justify-content" {
					.#{$prefix}-#{$break}-#{$key} {
						justify-content: $val;
					}
				}

				// Align Items CSS
				@if $prefix =="align-items" {
					.#{$prefix}-#{$break}-#{$key} {
						align-items: $val;
					}
				}

				// Position CSS
				@if $prefix =="position" {
					.#{$prefix}-#{$break}-#{$key} {
						position: $val;
					}
				}

				// Text CSS
				@if $prefix =="text" {
					.#{$prefix}-#{$break}-#{$key} {
						text-align: $val;
					}
				}

			}
		}

	}
}

/* =========================================
   ADD CSS-> MARGIN, PADDING, BORDER RADIUS
========================================= */
/* ===== MOBILE-FIRST DEFAULTS ===== */
@each $key, $val in $spaces {

	/* ===== FLEX GAP ===== */
	.gap-#{$key} {
		gap: $val;
	}

	.column-gap-#{$key} {
		column-gap: $val;
	}

	.row-gap-#{$key} {
		row-gap: $val;
	}

	/* ===== MARGIN ===== */
	.m-#{$key} {
		margin: $val;
	}

	.mt-#{$key} {
		margin-top: $val;
	}

	.mb-#{$key} {
		margin-bottom: $val;
	}

	.ms-#{$key} {
		margin-left: $val;
	}

	.me-#{$key} {
		margin-right: $val;
	}

	.mx-#{$key} {
		margin-left: $val;
		margin-right: $val;
	}

	.my-#{$key} {
		margin-top: $val;
		margin-bottom: $val;
	}

	/* ===== PADDING ===== */
	.p-#{$key} {
		padding: $val;
	}

	.pt-#{$key} {
		padding-top: $val;
	}

	.pb-#{$key} {
		padding-bottom: $val;
	}

	.ps-#{$key} {
		padding-left: $val;
	}

	.pe-#{$key} {
		padding-right: $val;
	}

	.px-#{$key} {
		padding-left: $val;
		padding-right: $val;
	}

	.py-#{$key} {
		padding-top: $val;
		padding-bottom: $val;
	}

	/* ===== BORDER RADIUS ===== */
	.rounded-#{$key} {
		border-radius: $val;
	}
}

@each $break, $size in $breakpoints {
	@media (min-width: $size) {

		@each $key, $val in $spaces {

			/* ===== FLEX GAP ===== */
			.gap-#{$break}-#{$key} {
				gap: $val;
			}

			.column-gap-#{$break}-#{$key} {
				column-gap: $val;
			}

			.row-gap-#{$break}-#{$key} {
				row-gap: $val;
			}

			/* ===== MARGIN ===== */
			.m-#{$break}-#{$key} {
				margin: $val;
			}

			.mt-#{$break}-#{$key} {
				margin-top: $val;
			}

			.mb-#{$break}-#{$key} {
				margin-bottom: $val;
			}

			.ms-#{$break}-#{$key} {
				margin-left: $val;
			}

			.me-#{$break}-#{$key} {
				margin-right: $val;
			}

			.mx-#{$break}-#{$key} {
				margin-left: $val;
				margin-right: $val;
			}

			.my-#{$break}-#{$key} {
				margin-top: $val;
				margin-bottom: $val;
			}

			/* ===== PADDING ===== */
			.p-#{$break}-#{$key} {
				padding: $val;
			}

			.pt-#{$break}-#{$key} {
				padding-top: $val;
			}

			.pb-#{$break}-#{$key} {
				padding-bottom: $val;
			}

			.ps-#{$break}-#{$key} {
				padding-left: $val;
			}

			.pe-#{$break}-#{$key} {
				padding-right: $val;
			}

			.px-#{$break}-#{$key} {
				padding-left: $val;
				padding-right: $val;
			}

			.py-#{$break}-#{$key} {
				padding-top: $val;
				padding-bottom: $val;
			}

			/* ===== BORDER RADIUS ===== */
			.rounded-#{$break}-#{$key} {
				border-radius: $val;
			}

		}

		/* ===== Auto (Margin) ===== */
		.m-#{$break}-auto {
			margin: auto;
		}

		.mx-#{$break}-auto {
			margin-left: auto;
			margin-right: auto;
		}

		/* ===== Auto (Padding) ===== */
		.p-#{$break}-auto {
			padding: auto;
		}

		.px-#{$break}-auto {
			padding-left: auto;
			padding-right: auto;
		}
	}
}

/* ===== MOBILE-FIRST DEFAULTS ===== */
@each $key, $val in $orders {
	.order-#{$key} {
		order: $val;
	}
}

/* =========================================
   ADD CSS-> ORDER
========================================= */
@each $break, $size in $breakpoints {
	@media (min-width: $size) {

		@each $key, $val in $orders {

			/* ===== ORDER ===== */
			.order-#{$break}-#{$key} {
				order: $val;
			}

		}
	}
}

/* =========================================
   Z-INDEX UTILITIES
========================================= */
.z-index-1 {
	z-index: var(--z-index-1);
}

.z-index-2 {
	z-index: var(--z-index-2);
}

.z-index-3 {
	z-index: var(--z-index-3);
}

.z-index-4 {
	z-index: var(--z-index-4);
}

.z-index-5 {
	z-index: var(--z-index-5);
}

.z-index-6 {
	z-index: var(--z-index-6);
}

.word-overflow {
	overflow-wrap: break-word;
}
