/* Multi Text & Auto Typing Widget */
.rbelad-wrap-dual-text .rbelad-dual-text-heading,
.rbelad-wrap-auto-typing .rbelad-auto-typing {
  margin: 0;
}

/* Button Widget */
.rbelad-wrap-button {
  .rbelad-btn-item-wrap {
    display: flex;
    flex-wrap: wrap;

    .style-1 {
      text-decoration: none;
      display: inline-block;
      position: relative;
      overflow: hidden;
      cursor: pointer;
      border: none;
      outline: 0;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -25%;
        width: 0;
        height: 100%;
        transform: skew(50deg);
        z-index: 9;
      }

      &:hover::before { width: 150%; }
      span { position: relative; z-index: 99; }
    }

    .style-2 {
      position: relative;
      display: inline-block;
      text-decoration: none;
      cursor: pointer;
      overflow: hidden;
      z-index: 0;
      border: none;
      outline: 0;

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        transition: all 0.4s ease-in-out;
        z-index: -1;  
      }

      &:hover:before { width: 100%; }

      a { text-decoration: none; display: block; }
    }
  }
}

/* Button Group Widget */
.rbelad-wrap-button-group {
  .rbelad-button-group {
    display: flex;
    flex-wrap: wrap;

    .style-1 {
      text-decoration: none;
      display: inline-block;
      position: relative;
      overflow: hidden;
      cursor: pointer;
      border: none;
      outline: 0;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -25%;
        width: 0;
        height: 100%;
        transform: skew(50deg);
        z-index: 9;
      }

      &:hover::before { width: 150%; }
      span { position: relative; z-index: 99; }
    }

    .style-2 {
      position: relative;
      display: inline-block;
      text-decoration: none;
      cursor: pointer;
      overflow: hidden;
      z-index: 0;
      border: none;
      outline: 0;

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        transition: all 0.4s ease-in-out;
        z-index: -1;  
      }

      &:hover:before { width: 100%; }

      a { text-decoration: none; display: block; }
    }
  }
}

/* Section Header Widget */
.rbelad-wrap-section-header {
  .rbelad-section-subtitle { display: inline-block; }

  .rbelad-section-title-wrapper {
    display: block;

    .rbelad-section-title {
      display: inline-block;
      position: relative;
      margin: 0;

      .rbelad-section-title-before {
        position: absolute;
        bottom: -15px;
        left: 50%;
        transform: translateX(-50%);
      }

      .rbelad-section-title-after {
        position: absolute;
        bottom: -24px;
        left: 50%;

        &.triangle { transform: translateX(-50%) rotate(45deg); }
        &.circle { transform: translateX(-50%); border-radius: 50%; }
        &.square { transform: translateX(-50%); }
      }
    }
  }

  .rbelad-section-description { margin: 0; }
}

/* Divider Widget */
.rbelad-wrap-divider {
  .rbelad-divider-container {
    display: flex;

    .rbelad-divider { opacity: 1; }
  }
}

/* Site Tagline Widget */
.rbelad-wrap-site-tagline .rbelad-site-tagline {
	margin-bottom: 0;
}

/* List Style Widget */
.rbelad-wrap-list-style {
  .rbelad-list-style {
    margin: 0;
    padding: 0;
    list-style: none;

    .rbelad-list-item {
      display: flex;
      align-items: center;

      .rbelad-list-item-icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

/* Resume List Widget */
.rbelad-wrap-resume-list {
	.resume-list-item {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		.resume-list-label {
			max-width: max-content;
		}
		.resume-list-description {
			margin: 0;
		}
	}
}

/* Rating Skill Widget */
.rbelad-wrap-rating-skill {
	.rbelad-rating-skill {
		display: flex;
		flex-wrap: wrap;
	}
}

/* Service List Widget */
.rbelad-wrap-service-list {
	.rbelad-service-item-wrap.style-1 {
		position: relative;
		display: flex;
		align-items: stretch;
		.rbelad-service-icon {
			display: inline-flex;
			max-width: max-content;
			align-self: center;
		}
		.rbelad-service-item {
			z-index: 9;
			transition: all 0.3s ease-in-out;
			flex: 1;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
		.rbelad-service-item-hover {
			display: none;
			position: relative;
			z-index: 99;
			transition: all 0.5s ease-in-out;
		}
		&:hover,
		&:focus {
			.rbelad-service-item {
				display: none;
			}.rbelad-service-item-hover {
				display: flex;
				flex-direction: column;
				justify-content: center;
			}
		}
	}
	.rbelad-service-item-wrap.style-2 {
		position: relative;
		z-index: 1;
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			transition: all 0.4s ease-in-out;
			z-index: 2;
		}
		.rbelad-service-item {
			position: relative;
			z-index: 3;
		}
		&:hover::before,&:focus::before {
			width: 100%;
		}
	}
	.rbelad-service-description {
		margin-bottom: 0;
	}
}

/* Contact Info Widget */
.rbelad-wrap-contact-info {
	.rbelad-contact-info {
		display: flex;
		flex-wrap: wrap;
		.rbelad-contact-info-item {
			position: relative;
			&:before,
			&:after {
				content: "";
				position: absolute;
				transition: all 0.4s ease-in-out;
			} 
			&:before {
				top: 0;
				left: 0;
			}
			&:after {
				bottom: 0;
				right: 0;
				transform: rotate(180deg);
			}
			.rbelad-contact-info-icon {
				display: inline-flex;
				justify-content: center;
				align-items: center;
				transition: all 0.4s ease-in-out;
			}
		}
	}
}

/* Contact Form Widget */
.rbelad-wrap-contact-form {
	.rbelad-contact-form-item {
		position: relative;
		.rbelad-contact-form-item-input.style-1 {
			padding: 0 0 0 39px;
		}
		.rbelad-contact-form-item-icon {
			position: absolute;
			top: 0;
			left: 0;
			display: flex;
			align-items: center;
			justify-content: center;			
			width: 40px;
			height: 40px;
		}
	}
	.rbelad-contact-form-submit-btn.style-1 {
		text-decoration: none;
		display: inline-block;
		position: relative;
		overflow: hidden;
		cursor: pointer;
		border: none;
		outline: 0;		
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: -25%;
			width: 0;
			height: 100%;
			transform: skew(50deg);
			z-index: 9;
		}
		&:hover::before {
			width: 150%; 
		}
		& span {
			position: relative;
			z-index: 99;
		}
	}
	.rbelad-contact-form-submit-btn.style-2 {
		position: relative;
		display: inline-block;
		text-decoration: none;
		cursor: pointer;
		overflow: hidden;
		z-index: 0;
		border: none;
		outline: 0;		
		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 0;
			height: 100%;
			transition: all 0.4s ease-in-out;
			z-index: -1;	
		}
		&:hover:before {
			width: 100%;
		}
		& a {
			text-decoration: none;
			display: block;
		}
	}
}

/* Scroll Down Widget */
.rbelad-wrap-scroll-down {
	.rbelad-scroll-down {
		cursor: pointer;
		position: relative;
		display: inline-block;
		&::after {
			content: "";
			position: absolute;
			left: 50%;
			transform: translateX(-50%);			
			opacity: 1;
			animation: scroll_down_effect 2s ease 0s infinite;
		}
	}
}

/* Scroll Down Widget Animation */
@-webkit-keyframes scroll_down_effect {
    0% {
    	opacity: 1;
    	top: 10px;
    }
	100% {
    	opacity: 0;
    	top: 25px;
    }
}
@keyframes scroll_down_effect {
    0% {
    	opacity: 1;
    	top: 10px;
    }
	100% {
    	opacity: 0;
    	top: 25px;
    }
}

/* Archive Description Widget */
.rbelad-wrap-archive-description {
	.rbelad-archive-description {
		margin-bottom: 0;
	}
}

/* Post Thumbnail Widget */
.rbelad-wrap-post-thumbnail {
	.rbelad-post-thumbnail {
		position: relative;
		transition: all 0.5s ease-in-out;
		.rbelad-post-caption {
			margin: 0;
			&.hover {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				display: none;
			}
		}
		&:hover .rbelad-post-caption.hover,
		&:focus .rbelad-post-caption.hover {
			display: block;
		}
	}
}

/* PDF View Widget */
.rbelad-wrap-pdf-view {
	.rbelad-pdf-view-header,
	.rbelad-pdf-view-body {
		width: 100%;
	}
}

/* Lottie Animation Widget */
.rbelad-wrap-lottie-animation {
	.rbelad-lottie-animation-wrapper {
		display: flex;
		flex-wrap: wrap;
	}
}

/* Auto Typing Widget */
.rbelad-wrap-auto-typing {
	.rbelad-auto-typing {
		margin: 0;
	}
}

/* Social Icon Widget */
.rbelad-wrap-social-icon {
	.rbelad-social-icon-menu {
		list-style: none;
		margin: 0;
		padding: 0;
		 .rbelad-social-icon-item {
			display: inline-block;
			position: relative;
			cursor: pointer;
		}

		/* Style - 1 */
		.style-1 {
			.rbelad-social-icon-item {
				margin: 25px 19px;
				width: 50px;
				height: 50px;
				transform: rotate(-35deg) skew(25deg);
				.rbelad-social-icon-item-child {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					   &:nth-child(5) {
						width: 50px;
						height: 50px;
						display: inline-block;
						line-height: 50px;
						text-align: center;
					}
				}
			}
			&:hover,
			&:focus {
				.rbelad-social-icon-item-child:nth-child(1) {
					transform: translate(0, 0);
					opacity: .2;
				}
				.rbelad-social-icon-item-child:nth-child(2) {
					transform: translate(10px, -10px);
					opacity: .4;
				}
				.rbelad-social-icon-item-child:nth-child(3) {
					transform: translate(20px, -20px);
					opacity: .6;
				}
				.rbelad-social-icon-item-child:nth-child(4) {
					transform: translate(30px, -30px);
					opacity: .8;
				}
				.rbelad-social-icon-item-child:nth-child(5) {
					transform: translate(40px, -40px);
					opacity: 1;
				}
			}
		}

		/* Style - 2 */
		.style-2 {
			.rbelad-social-icon-item {
				text-align: center;
				.rbelad-social-icon-item-child {
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
				}
				.before-child {
					transform-origin: top;
					background-color: transparent;
				}
				.after-child {
					transform-origin: bottom;
					transform: rotateX(90deg) translateY(50%);
				}
			}
			&:hover,
			&:focus {
				.before-child {
					transform: rotateX(90deg) translateY(-50%);
				}
				.after-child {
					transform: rotateX(0deg) translateY(0);
				}
			}
		}
	}
}
