.rbelad-dashboard-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
	flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: start;
    -ms-flex-pack: start;
    justify-content: start;
    gap: 20px;
    padding-top: 65px;
    padding-bottom: 50px;
}

.rbelad-logo-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
	flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.rbelad-dashboard-header .rbelad-logo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 15px;
    border-right: 1px solid #dfdfdf;
    padding-right: 50px;
	min-height: 120px;
}

.rbelad-dashboard-header .rbelad-logo .rbelad-icon {
    font-size: 70px;
    color: #ff3700;
}

.rbelad-plugin-tile {
    font-size: 26px;
    color: #121212;
    line-height: 1.2em;
    font-weight: 800;
}

.rbelad-dashboard-header .rbelad-widget-count {
	font-family: "Roboto", sans-serif;
    font-weight: 600;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
	flex-direction: column;
    gap: 15px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: normal;
    border-right: 1px solid #dfdfdf;
    padding: 0 50px;
	min-height: 120px;
	justify-content: center;
}

.rbelad-widget-count p {
    margin: 0;
	font-size: 14px;
}

.rbelad-widget-count span {
    font-size: 45px;
}

.rbelad-dashboard-header .rbelad-version {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 15px;
    border-right: 1px solid #dfdfdf;
    padding: 0 50px;
	min-height: 120px;
	justify-content: center;
}

.rbelad-dashboard-header .rbelad-version .badge-free,
.rbelad-dashboard-header .rbelad-version .badge-pro {
    font-size: 40px;
    line-height: 1.2em;
    font-weight: 500;
}

.rbelad-dashboard-header .rbelad-version .version-number {
	font-size: 16px;
    line-height: 1.2em;
    font-weight: 400;
}

.rbelad-dashboard .nav-tab {
    display: block;
    float: left;
    padding: 15px 40px;
    border-top: 3px solid #bbb;
    border-radius: 5px 5px 0 0;
    background-color: #e8e8e8;
    color: #888;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
	outline: none;
}

.rbelad-dashboard .nav-tab:hover,
.rbelad-dashboard .nav-tab:focus,
.rbelad-dashboard .nav-tab-active {
    background-color: #5db429;
    color: #fff;
    border-color: #5db429;
}

.rbelad-dashboard .rbelad-dashboard-img {
    width: 100%;
}

.rbelad-dashboard .rbelad-btn-dashboard {
    display: inline-block;
    padding: 20px 40px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    background-color: #ff3700;
    color: #fff;
    transition: all 0.3s ease-in-out;
    margin-top: 20px;    
}

.rbelad-dashboard .rbelad-btn-dashboard:hover,
.rbelad-dashboard .rbelad-btn-dashboard:focus {
    color: #fff;
}

.rbelad-dashboard {
    font-family: "Roboto", sans-serif;
}

.rbelad-dashboard .wrap > .rbelad-dashboard-title {
    font-weight: 600;
    font-size: 28px;
    color: #333;
    margin: 20px 0;
	padding: 0;
}

.rbelad-dashboard .rbelad-dashboard-description {
    margin: 0;
    font-size: 16px;
}

.rbelad-dashboard .rbelad-dashboard-theme-color {
    color: #5db429;
}

.rbelad-dashboard .rbelad-action-list {
    margin: -4px;
    padding-top: 20px;
    font-weight: 700;
    font-size: 14px;
}

.rbelad-dashboard .rbelad-action--btn {
    display: inline-block;
    margin: 4px;
    padding: 5px 10px 4px;
    outline: 0;
    border: 1px solid;
    border-radius: 3px;
    background: 0 0;
    box-shadow: none;
    font-weight: 500;
    line-height: 1;
    cursor: pointer;
}

.rbelad-dashboard .rbelad-action--btn[data-filter="*"]:focus,
.rbelad-dashboard .rbelad-action--btn[data-filter="*"]:hover,
.rbelad-dashboard .rbelad-active--btn[data-filter="*"] {
    border-color: #666;
    background-color: #666;
    color: #fff;
}

.rbelad-dashboard .rbelad-action--btn[data-filter=free] {
    color: #562dd4;
}

.rbelad-dashboard .rbelad-action--btn[data-filter=free]:focus,
.rbelad-dashboard .rbelad-action--btn[data-filter=free]:hover,
.rbelad-dashboard .rbelad-active--btn[data-filter=free] {
    border-color: #562dd4;
    background-color: #562dd4;
    color: #fff;
}

.rbelad-dashboard .rbelad-action--btn[data-filter=pro] {
    color: #ff3700;
}

.rbelad-dashboard .rbelad-action--btn[data-filter=pro]:focus,
.rbelad-dashboard .rbelad-action--btn[data-filter=pro]:hover,
.rbelad-dashboard .rbelad-active--btn[data-filter=pro] {
    border-color: #ff3700;
    background-color: #ff3700;
    color: #fff;
}

.rbelad-dashboard .rbelad-action--divider {
    padding: 0 10px;
    color: #b7b7b7;
}

.rbelad-dashboard .rbelad-action--btn[data-action=enable],
.rbelad-dashboard .rbelad-action--btn[data-action=enable_category] {
    color: #5db429;
}

.rbelad-dashboard .rbelad-action--btn[data-action=enable]:focus,
.rbelad-dashboard .rbelad-action--btn[data-action=enable]:hover,
.rbelad-dashboard .rbelad-action--btn[data-action=enable_category]:focus,
.rbelad-dashboard .rbelad-action--btn[data-action=enable_category]:hover,
.rbelad-dashboard .rbelad-active--btn[data-filter=enable],
.rbelad-dashboard .rbelad-active--btn[data-filter=enable_category] {
    border-color: #5db429;
    background-color: #5db429;
    color: #fff;
}

.rbelad-dashboard .rbelad-action--btn[data-action=disable],
.rbelad-dashboard .rbelad-action--btn[data-action=disable_category] {
    color: #e63d3d;
}

.rbelad-dashboard .rbelad-action--btn[data-action=disable]:focus,
.rbelad-dashboard .rbelad-action--btn[data-action=disable]:hover,
.rbelad-dashboard .rbelad-action--btn[data-action=disable_category]:focus,
.rbelad-dashboard .rbelad-action--btn[data-action=disable_category]:hover,
.rbelad-dashboard .rbelad-active--btn[data-filter=disable],
.rbelad-dashboard .rbelad-active--btn[data-filter=disable_category] {
    border-color: #e63d3d;
    background-color: #e63d3d;
    color: #fff;
}

.rbelad-dashboard .rbelad-dashboard-widgets__list-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.rbelad-dashboard .rbelad-dashboard-widgets__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    padding: 40px;
    border-radius: 0 0 5px 5px;
    background-color: #fff;
    margin-top: 20px;
}

.rbelad-dashboard .rbelad-dashboard-widgets__item {
    position: relative;
    padding: 30px 20px;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 20px;
    width: calc(22% - 9px);
    background-color: #f0f0f0;
}

.rbelad-dashboard .rbelad-dashboard-widgets__item i {
    font-size: 40px;
}

.rbelad-dashboard .rbelad-dashboard-widgets__item-title {
    margin: 0;
    font-size: 18px;
    color: #562dd4;
    font-weight: 600;
}

.rbelad-dashboard .rbelad-dashboard-widgets__item-demo {
    display: inline-block;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    color: #5db429;
    border: 1px solid #5db429;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 10px;
    transition: all 0.4s ease-in-out;
}

.rbelad-dashboard .rbelad-dashboard-widgets__item-demo:hover,
.rbelad-dashboard .rbelad-dashboard-widgets__item-demo:focus {
    color: #fff;
    background-color: #562dd4;
    border-color: #562dd4;
}

.rbelad-dashboard .rbelad-dashboard-widgets__item-button {
    position: absolute;
    display: block;
    overflow: hidden;
    width: 40px;
    height: 24px;
    border-radius: 100px;
    background-color: #e8e8e8;
    box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.05);
    right: 20px;
}

.rbelad-dashboard .rbelad-toggle-disabled {
    opacity: 0.6;
    pointer-events: none;
}

.rbelad-dashboard .rbelad-toggle-disabled .rbelad-toggle__switch,
.rbelad-dashboard .rbelad-toggle-disabled .rbelad-toggle__track {
    background-color: #ccc;
    border-color: #aaa;
}

.rbelad-dashboard .rbelad-toggle-disabled .rbelad-toggle__check {
    cursor: not-allowed;
}

.rbelad-dashboard input.rbelad-toggle__check[type=checkbox] {
    position: relative;
    display: block;
    top: 0;
    left: 0;
    z-index: 6;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.rbelad-dashboard .rbelad-toggle__switch {
    position: absolute;
    top: 2px;
    right: 18px;
    bottom: 2px;
    left: 2px;
    z-index: 1;
    border-radius: 36px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    transition: 0.35s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.rbelad-dashboard .rbelad-toggle__track {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 40px;
    box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.01);
    transition: 0.35s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.rbelad-dashboard .rbelad-toggle__check:checked ~ .rbelad-toggle__track {
    box-shadow: inset 0 0 0 20px #562dd4;
}

.rbelad-dashboard .rbelad-toggle__check:checked ~ .rbelad-toggle__switch {
    right: 2px;
    left: 18px;
    transition: 0.35s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.rbelad-dashboard .button.button-primary {
    background-color: #5db429;
    color: #fff;
    padding: 10px 30px;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    border: none;
	margin: 30px;
}

.rbelad-dashboard .button.button-primary:active,
.rbelad-dashboard .button.button-primary:hover,
.rbelad-dashboard .button.button-primary:focus {
    background-color: #562dd4;
    color: #fff;
}

/** Home Page */
#rbelad-dashboard-content {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
}

.wrap.rbelad-dashboard {
	margin: 0;
	width: 100%;
}

.rbelad-dash-widget-area {
    background: #fff;
    padding: 40px 48px 48px 48px;
    margin: 60px 0;
    display: flex;
    flex-wrap: wrap;
}

.rbelad-dash-widget-sidebar {
    position: sticky;
    top: 32px;
    border-right: 1px solid #ddd;
    overflow-y: auto;
    padding-top: 33px;
    height: -webkit-calc(100vh - 62px);
    height: calc(100vh - 62px);
    scrollbar-width: none;
    width: 25%;
    max-width: 330px;
    background-color: #fff;
    z-index: 1;
    float: left;
}

.rbelad-search-box-area {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    gap: 6px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #f7f9fb;
    border: 1px solid #e6ebf2;
    border-radius: 25px;
    padding: 6px 10px;
    margin-bottom: 30px;
    max-width: 290px;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.rbelad-search-box-area:focus {
    background-color: #fff
}

.rbelad-search-box-area .rbelad-search-box-input {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    border: none;
    outline: 0;
    font-size: 16px;
    color: #000;
    padding: 0 6px;
    font-family: "Inter Tight",sans-serif;
    background-color: transparent;
    border-radius: 0;
    width: 100%
}

.rbelad-search-box-area .rbelad-search-box-input:focus {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none
}

.rbelad-search-box-area .rbelad-search-box-input::-webkit-input-placeholder {
    color: #8c919b
}

.rbelad-search-box-area .rbelad-search-box-input::-moz-placeholder {
    color: #8c919b
}

.rbelad-search-box-area .rbelad-search-box-input:-ms-input-placeholder {
    color: #8c919b
}

.rbelad-search-box-area .rbelad-search-box-input::-ms-input-placeholder {
    color: #8c919b
}

.rbelad-search-box-area .rbelad-search-box-input::placeholder {
    color: #8c919b
}

.rbelad-dash-widget-sidebar-item {
    padding: 10px 15px;
    cursor: pointer;
    margin-bottom: 2px;
    -webkit-transition: background-color .3s ease,color .3s ease;
    transition: background-color .3s ease,color .3s ease;
    border-right: 3px solid transparent;
    font-size: 18px;
    color: #000
}

.rbelad-dash-widget-sidebar-item:hover {
    background-color: #007bff;
    color: #fff
}

.rbelad-dash-widget-sidebar-item.active,
.rbelad-dash-widget-sidebar-item:hover {
    background-color: #f7f9fb;
    color: #2d41fa;
    border-right: 3px solid #2d41fa
}

.rbelad-widget-count-list {
    font-size: 16px;
    color: #bec5cf;
    margin-left: 5px
}

.rbelad-dash-widget-sidebar-item.active .rbelad-widget-count-list,
.rbelad-dash-widget-sidebar-item:hover .rbelad-widget-count-list {
    color: #2d41fa
}

.rbelad-dash-widget-main {
	width: 75%;
}

.rbelad-widget-box {
	display: none;
	padding: 0 30px;
}

.rbelad-widget-box.active {
	display: block;
}

.rbelad-widget-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 10px;
    padding: 33px 0 20px;
    border-bottom: 1px solid #ebedf0
}

.rbelad-widget-title {
    margin: 0;
    font-size: 24px;
    line-height: 1.2em;
}

.rbelad-widget-style-count {
    font-size: 18px;
    color: #6e7378;
    font-weight: 400;
    margin-left: 10px;
}

.rbelad-style-list {
    padding: 50px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.rbelad-style-item {
    width: -webkit-calc(33.33333333% - 20px);
    width: calc(33.33333333% - 20px);
    border-radius: 5px;
    overflow: hidden;
	display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 100%;
}

.rbelad-style-item img {
    max-width: 100%;
	width: 100%;
	height: 100%;
}

.rbelad-dash-each-widget-style-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
	flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px 0;
	width: 100%;
}

.rbelad-style-name {
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
}

.rbelad-widget-style-type-checkbox input[type=checkbox] {
    position: relative;
    width: 54px;
    min-width: 54px;
    height: 24px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #ebedf0;
    outline: 0;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 2rem;
    margin: 0;
    -webkit-transition: background-color .5s;
    transition: background-color .5s;
    cursor: pointer;
	font-size: 14px;
}

.rbelad-widget-style-type-checkbox input[type=checkbox]::before {
    width: 18px;
    height: 18px;
	top: 3px;
    left: 3px;
	content: "";
    border-radius: 50%;
    background: #fff;
    position: absolute;
    margin: 0;
    -webkit-transition: .5s;
    transition: .5s;
    -webkit-box-shadow: 2px 4px 6px rgba(0,0,0,.1);
    box-shadow: 2px 4px 6px rgba(0,0,0,.1);
}

.rbelad-widget-style-type-checkbox input[type=checkbox]:checked {
    background-color: #41c83c;
}

.rbelad-widget-style-type-checkbox input[type=checkbox]:checked::before {
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
}

.rbelad-search-box-input::-webkit-search-cancel-button {
	-webkit-appearance: none;
	appearance: none;
	background-color: transparent;
}

/* Chrome / Edge / Safari */
.rbelad-search-box-input:-webkit-autofill,
.rbelad-search-box-input:-webkit-autofill:hover,
.rbelad-search-box-input:-webkit-autofill:focus,
.rbelad-search-box-input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px transparent inset;
    -webkit-text-fill-color: inherit;
    transition: background-color 9999s ease-out 0s;
}

.rbelad-search-box-input:-moz-autofill {
    box-shadow: 0 0 0 1000px transparent inset;
    color: inherit;
}

@media (min-width: 1200px) and (max-width: 1201px) {
	.rbelad-dashboard .rbelad-dashboard-widgets__item {
		width: calc(43% - 5px);
	}
}

@media (max-width: 1024px) {
	.rbelad-dashboard .rbelad-dashboard-widgets__item {
		width: 100%;
	}
}

@media (max-width: 767px) {
	.rbelad-dash-widget-sidebar,
	.rbelad-dash-widget-main,
	.rbelad-style-item {
		width: 100%;
	}
}

.save-btn-area {
	display: flex;
	flex-wrap: wrap;
	justify-content: end;
}

.rbelad-widget-actions {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
	flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
	gap: 15px;
}

.rbelad-tab-enable {
    font-size: 18px;
	font-weight: 700;
    -webkit-transition: color .5s;
    transition: color .5s;
    white-space: nowrap;
    line-height: 1.2;
	 color: #000;
}


.rbelad-widgets-tab {
	width: 100%;
}