.nav-tab {
    display: block;
    float: left;
    padding: 15px 40px;
    border-top: 3px solid #bbb;
    border-radius: 5px 5px 0 0;
    background-color: #e8e8e8;
    color: #888;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
}

.nav-tab:hover,
.nav-tab:focus,
.nav-tab-active {
    background-color: #d6226e;
    color: #fff;
    border-color: #e2498a;
}

.rbelad-dashboard-img {
    width: 100%;
}

.rbelad-btn-dashboard {
    display: inline-block;
    padding: 20px 40px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    background-color: #e2498a;
    color: #fff;
    transition: all 0.3s ease-in-out;
    margin-top: 20px;    
}

.rbelad-btn-dashboard:hover,
.rbelad-btn-dashboard:focus {
    color: #fff;
}

.rbelad-dashboard {
    font-family: "Roboto", sans-serif;
}

h1.rbelad-dashboard-title {
    font-weight: 600;
    font-size: 36px;
    color: #333;
    margin: 0;
}

.rbelad-dashboard-description {
    margin: 0;
    font-size: 16px;
}

.rbelad-dashboard-theme-color {
    color: #5db429;
}

.rbelad-action-list {
    margin: -4px;
    padding-top: 20px;
    font-weight: 700;
    font-size: 14px;
}

.rbelad-action--btn {
    display: inline-block;
    margin: 4px;
    padding: 5px 10px 4px;
    outline: 0;
    border: 1px solid;
    border-radius: 3px;
    background: 0 0;
    box-shadow: none;
    font-weight: 500;
    line-height: 1;
    cursor: pointer;
}

.rbelad-action--btn[data-filter="*"]:focus,
.rbelad-action--btn[data-filter="*"]:hover {
    border-color: #666;
    background-color: #666;
    color: #fff;
}

.rbelad-action--btn[data-filter=free] {
    color: #562dd4;
}

.rbelad-action--btn[data-filter=free]:focus,
.rbelad-action--btn[data-filter=free]:hover {
    border-color: #562dd4;
    background-color: #562dd4;
    color: #fff;
}

.rbelad-action--btn[data-filter=pro] {
    color: #e2498a;
}

.rbelad-action--btn[data-filter=pro]:focus,
.rbelad-action--btn[data-filter=pro]:hover {
    border-color: #e2498a;
    background-color: #e2498a;
    color: #fff;
}

.rbelad-action--divider {
    padding: 0 10px;
    color: #e8e8e8;
}

.rbelad-action--btn[data-action=enable],
.rbelad-action--btn[data-action=enable_feature] {
    color: #5db429;
}

.rbelad-action--btn[data-action=enable]:focus,
.rbelad-action--btn[data-action=enable]:hover,
.rbelad-action--btn[data-action=enable_feature]:focus,
.rbelad-action--btn[data-action=enable_feature]:hover {
    border-color: #5db429;
    background-color: #5db429;
    color: #fff;
}

.rbelad-action--btn[data-action=disable],
.rbelad-action--btn[data-action=disable_feature] {
    color: #e63d3d;
}

.rbelad-action--btn[data-action=disable]:focus,
.rbelad-action--btn[data-action=disable]:hover,
.rbelad-action--btn[data-action=disable_feature]:focus,
.rbelad-action--btn[data-action=disable_feature]:hover {
    border-color: #e63d3d;
    background-color: #e63d3d;
    color: #fff;
}

.rbelad-dashboard-widgets__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    padding: 40px;
    border-radius: 0 0 5px 5px;
    background-color: #fff;
    margin-top: 20px;
}

.rbelad-dashboard-widgets__item {
    position: relative;
    padding: 30px 20px;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 20px;
    width: 21%;
    background-color: #f0f0f0;
}

.rbelad-dashboard-widgets__item img {
    width: 40px;
    height: 40px;
}

.rbelad-dashboard-widgets__item-title {
    margin: 0;
    font-size: 18px;
    color: #562dd4;
    font-weight: 600;
}

.rbelad-dashboard-widgets__item-demo {
    display: inline-block;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    color: #5db429;
    border: 1px solid #5db429;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 10px;
    transition: all 0.4s ease-in-out;
}

.rbelad-dashboard-widgets__item-demo:hover,
.rbelad-dashboard-widgets__item-demo:focus {
    color: #fff;
    background-color: #562dd4;
    border-color: #562dd4;
}

.rbelad-dashboard-widgets__item-button {
    position: absolute;
    display: block;
    overflow: hidden;
    width: 40px;
    height: 24px;
    border-radius: 100px;
    background-color: #e8e8e8;
    box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.05);
    right: 20px;
}

.rbelad-toggle-disabled {
    opacity: 0.6;
    pointer-events: none;
}

.rbelad-toggle-disabled .rbelad-toggle__switch,
.rbelad-toggle-disabled .rbelad-toggle__track {
    background-color: #ccc;
    border-color: #aaa;
}

.rbelad-toggle-disabled .rbelad-toggle__check {
    cursor: not-allowed;
}

input.rbelad-toggle__check[type=checkbox] {
    position: relative;
    display: block;
    top: 0;
    left: 0;
    z-index: 6;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.rbelad-toggle__switch {
    position: absolute;
    top: 2px;
    right: 18px;
    bottom: 2px;
    left: 2px;
    z-index: 1;
    border-radius: 36px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    transition: 0.35s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.rbelad-toggle__track {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 40px;
    box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.01);
    transition: 0.35s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.rbelad-toggle__check:checked ~ .rbelad-toggle__track {
    box-shadow: inset 0 0 0 20px #562dd4;
}

.rbelad-toggle__check:checked ~ .rbelad-toggle__switch {
    right: 2px;
    left: 18px;
    transition: 0.35s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.rbelad-dashboard .button.button-primary {
    background-color: #5db429;
    color: #fff;
    padding: 10px 30px;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    border: none;
}

.rbelad-dashboard .button.button-primary:active,
.rbelad-dashboard .button.button-primary:hover,
.rbelad-dashboard .button.button-primary:focus {
    background-color: #562dd4;
    color: #fff;
}
