/*--------------------------------------------------------------
#     Button Common Style
--------------------------------------------------------------*/
.rbelad-button-widget-item-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.rbelad-button-widget-item {
	text-decoration: none;
	color: #fff;
	display: inline-block;
}

/*--------------------------------------------------------------
#     Button Style - 01
--------------------------------------------------------------*/
.rbelad-button-widget-style-1 {
	font-family: "DM Sans", sans-serif;
	letter-spacing: 0.8px;
	text-transform: capitalize;
	font-size: 15px;
	font-weight: 500;
	color: #FFF;
	text-align: center;
	font-size: 15px;
	font-weight: 500;
	padding: 15px 35px;
	border-radius: 0;
	background: #0A1426;
	transition: all .3s ease-in-out;
}

.rbelad-button-widget-style-1:hover {
	background: #0a1426ca;
}

@media (max-width:1199px) {
	.rbelad-button-widget-style-1 {
		padding: 15px 20px;
	}
}

/*--------------------------------------------------------------
#     Button Style - 02
--------------------------------------------------------------*/
.rbelad-button-widget-style-2 {	
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	display: inline-block;
	padding: 10px 45px;
	position: relative;
	overflow: hidden;
	border: none;
	background-color: #007bff;
	border-radius: 5px;
}

.rbelad-button-widget-style-2::before {
	position: absolute;
	content: "";
	top: 0;
	height: 100%;
	left: -25%;
	width: 0;
	background-color: #000;
	transform: skew(50deg);
	transition-duration: .6s;
	z-index: 9;
}

.rbelad-button-widget-style-2:hover::before {
	width: 150%;
}

.rbelad-button-widget-style-2 span {
	z-index: 99;
	position: relative;
}

/*--------------------------------------------------------------
#     Button Style - 03
--------------------------------------------------------------*/
.rbelad-button-widget-style-3 {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	position: relative;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	padding: 8px 36px;
	cursor: pointer;
	border-radius: 50px;
	overflow: hidden;
	z-index: 0;
	color: #0d65ed;
	border: 1px solid #0d65ed;
}
.rbelad-button-widget-style-3:hover {
	color: #ffffff;
}
.rbelad-button-widget-style-3:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	transition: all 0.4s ease-in-out;
	z-index: -1;
	background-color: #0d65ed;
}
.rbelad-button-widget-style-3:hover:before {
	width: 100%;
}

/*--------------------------------------------------------------
#     Button Style - 04
--------------------------------------------------------------*/
.rbelad-button-widget-style-4 {
	font-family: "DM Sans", sans-serif;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 0.8px;
	text-transform: uppercase;
	padding: 20px 45px;
	background: #0055ffe0;
	display: inline-block;
	border: 0;
	border-radius: 7px;
	z-index: 1;
	position: relative;
	color: #FFF;
	text-align: center;
	transition: all .3s ease-in-out;
}

@media(max-width:991px) {
	.rbelad-button-widget-style-4 {
		font-size: 18px;
	}
}
@media(max-width:767px) {
	.rbelad-button-widget-style-4 {
		padding: 12px 18px;
		font-size: 14px;
	}
}

.rbelad-button-widget-style-4:hover,
.rbelad-button-widget-style-4:focus,
.rbelad-button-widget-style-4:active {
	color: #fff;
    background: #0057FF;
}

.rbelad-button-widget-style-4 span {
	position: absolute;
	right: -5px;
	bottom: -5px;
	content: "";
	width: 100%;
	height: 100%;
	border-radius: 7px;
	border: 1px dashed #0057FF;
	z-index: -11;
	transition: opacity 0.5s ease-out;
}

.rbelad-button-widget-style-4:hover span {
	border: 1px dashed #004ee6;
}

/*--------------------------------------------------------------
#     Button Style - 05
--------------------------------------------------------------*/
.rbelad-button-widget-style-5 {
	color: #fa4b1c;
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	appearance: none;
	outline: none;
	font-weight: 700;
	font-size: 17px;
	border: 1px solid #fa4b1c;
	padding: 6px 25px 6px;
	padding-right: 6px;
	border-radius: 30px;
	transition: 0.5s ease-in-out;
	text-transform: capitalize;
	overflow: hidden;
	letter-spacing: 0.25px;
	gap: 10px;
	z-index: 2;
	text-align: center;
	font-family: "Nunito", sans-serif;
}

.rbelad-button-widget-style-5:hover {
	color: #ffffff;
	border: 1px solid transparent;
}

.rbelad-button-widget-style-5::before {
	content: "";
	background-color: #fa4b1c;
	position: absolute;
	top: 0;
	width: 100%;
	left: 0;
	right: 0;
	bottom: 0;
	clip-path: circle(0% at 50% 50%);
	transition: all cubic-bezier(0, 0.96, 0.58, 1.1) 0.8s;
}

.rbelad-button-widget-style-5:hover::before {
	clip-path: circle(100% at 50% 50%);
	transition: all cubic-bezier(0, 0.96, 0.58, 1.1) 4s;
	transition-delay: 300ms;
}

.rbelad-button-widget-style-5::after {
	content: "";
	background-color: rgba(250, 75, 28, .30);
	position: absolute;
	top: 0;
	width: 100%;
	left: 0;
	right: 0;
	bottom: 0;
	clip-path: circle(0% at 50% 50%);
	transition: all cubic-bezier(0, 0.96, 0.58, 1.1) 0.8s;
	z-index: -1;
}

.rbelad-button-widget-style-5:hover::after {
	clip-path: circle(100% at 50% 50%);
	transition: all cubic-bezier(0, 0.96, 0.58, 1.1) 4s;
}

.rbelad-button-widget-style-5 .rbelad-button-widget-text {
	position: relative;
	display: block;
	z-index: 1;
}

.rbelad-button-widget-style-5 .rbelad-button-widget-icon {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	background-color: #fa4b1c;
	border-radius: 50%;
	font-size: 14px;
	color: #ffffff;
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease;
}

.rbelad-button-widget-style-5:hover .rbelad-button-widget-icon {
	background-color: #ffffff;
	color: #fa4b1c;
	transition-delay: 200ms;
}

.rbelad-button-widget-style-5:hover .rbelad-button-widget-icon i {
	-webkit-animation: bounceright .3s alternate ease infinite;
	animation: bounceright .3s alternate ease infinite;
}

@-webkit-keyframes bounceright {
  from {
    -webkit-transform: translateX(0);
  }

  to {
    -webkit-transform: translateX(3px);
  }
}

@keyframes bounceright {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(3px);
  }
}

/*--------------------------------------------------------------
#     Button Style - 06
--------------------------------------------------------------*/
.rbelad-button-widget-style-6 {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	vertical-align: middle;
	-webkit-appearance: none;
	appearance: none;
	outline: none;
	font-weight: 700;
	font-size: 16px;
	color: #ffffff;
	background-color: #fa4b1c;
	padding: 15px 40px 15px;
	border-radius: 8px;
	moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
	overflow: hidden;
	font-family: "Barlow Semi Condensed", sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	z-index: 1;
	text-decoration: none;
}

.rbelad-button-widget-style-6:hover {
	color: #121212;
	transition-delay: 400ms;
	background-color: #ffffff;
}

.rbelad-button-widget-style-6::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(18, 18, 18, .10);
	z-index: -1;
}

.rbelad-button-widget-style-6::after {
	content: "";
	position: absolute;
	bottom: -3px;
	left: 50%;
	width: 150%;
	height: 500%;
	border-radius: 45%;
	transition-delay: .1s;
	transition-timing-function: ease-in-out;
	transition-duration: .3s;
	transition-property: all;
	transform-origin: top;
	transform-style: preserve-3d;
	transform: scaleY(1.0) translateX(-50%);
	background-color: #fa4b1c;
	z-index: -1;
}

.rbelad-button-widget-style-6:hover::after {
	width: 0;
	height: 0;
	transform: scaleY(1.0) translateX(-50%);
}

.rbelad-button-widget-style-6 span {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
}

.rbelad-button-widget-style-6 span::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: -3px;
	bottom: 0;
	background-position: center top;
	transition-delay: .1s;
	transition-timing-function: ease-in-out;
	transition-duration: .3s;
	transition-property: all;
	transform-origin: top;
	transform-style: preserve-3d;
	transform: scaleY(0.0);
	background-color: #ffffff;
	z-index: -1;
}

.rbelad-button-widget-style-6:hover span::before {
	transform: scaleY(1.0);
	transition-delay: 400ms;
}
