@font-face {
  font-family: 'rbelad-general-icons';
  src: url('../fonts/rbelad-general-icons.woff') format('woff'),
    url('../fonts/rbelad-general-icons.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.rbelad-gi {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'rbelad-general-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rbelad-gi-zoom:before {
  content: "\e99e";
}
.rbelad-gi-magnifying-glass:before {
  content: "\e99f";
}
.rbelad-gi-brightness:before {
  content: "\e9a2";
}
.rbelad-gi-solid-black-sun-symbol:before {
  content: "\e9a3";
}
.rbelad-gi-resize:before {
  content: "\e9a6";
}
.rbelad-gi-laptop:before {
  content: "\e9a7";
}
.rbelad-gi-ipad:before {
  content: "\e9a8";
}
.rbelad-gi-smartphone:before {
  content: "\e9a9";
}
.rbelad-gi-menu:before {
  content: "\e9aa";
}
.rbelad-gi-faq:before {
  content: "\e9ab";
}
.rbelad-gi-dollar:before {
  content: "\e9ac";
}
.rbelad-gi-last:before {
  content: "\e9ad";
}
.rbelad-gi-video-editing:before {
  content: "\e9ae";
}
.rbelad-gi-box:before {
  content: "\e9af";
}
.rbelad-gi-contact-mail:before {
  content: "\e9b0";
}
.rbelad-gi-award:before {
  content: "\e9b1";
}
.rbelad-gi-facetime-button:before {
  content: "\e9b2";
}
.rbelad-gi-resume:before {
  content: "\e9b3";
}
.rbelad-gi-header:before {
  content: "\e9b4";
}
.rbelad-gi-transform:before {
  content: "\e9b5";
}
.rbelad-gi-teamwork:before {
  content: "\e9b6";
}
.rbelad-gi-slider:before {
  content: "\e9b7";
}
.rbelad-gi-broken-link:before {
  content: "\e9b8";
}
.rbelad-gi-clock:before {
  content: "\e9b9";
}
.rbelad-gi-credit-card:before {
  content: "\e9ba";
}
.rbelad-gi-percent:before {
  content: "\e9bb";
}
.rbelad-gi-color-palette:before {
  content: "\e9bc";
}
.rbelad-gi-font:before {
  content: "\e9bd";
}
.rbelad-gi-customize:before {
  content: "\e9be";
}
.rbelad-gi-animate:before {
  content: "\e9bf";
}
.rbelad-gi-support:before {
  content: "\e9c0";
}
.rbelad-gi-plus:before {
  content: "\e9c1";
}
.rbelad-gi-minus:before {
  content: "\e9c2";
}
.rbelad-gi-menu-1:before {
  content: "\e9c3";
}
.rbelad-gi-close:before {
  content: "\e9c4";
}
.rbelad-gi-financing:before {
  content: "\e9cc";
}
.rbelad-gi-kindness:before {
  content: "\e9cd";
}
.rbelad-gi-charity:before {
  content: "\e9ce";
}
.rbelad-gi-helping-hand:before {
  content: "\e9cf";
}
.rbelad-gi-donation:before {
  content: "\e9d0";
}
.rbelad-gi-capital:before {
  content: "\e9d1";
}
.rbelad-gi-fund-raising:before {
  content: "\e9d2";
}
.rbelad-gi-fund:before {
  content: "\e9d3";
}
.rbelad-gi-management:before {
  content: "\e9d4";
}
.rbelad-gi-graduation-cap:before {
  content: "\e9d5";
}
.rbelad-gi-education:before {
  content: "\e9d6";
}
.rbelad-gi-healthcare:before {
  content: "\e9d7";
}
.rbelad-gi-protection:before {
  content: "\e9d8";
}
.rbelad-gi-right-arrow:before {
  content: "\e9d9";
}
.rbelad-gi-left-arrow:before {
  content: "\e9da";
}
.rbelad-gi-bubble-chat:before {
  content: "\e9df";
}
.rbelad-gi-bubble-chat-1:before {
  content: "\e9e0";
}
.rbelad-gi-right-arrow-1:before {
  content: "\e9e1";
}
.rbelad-gi-left-arrow-1:before {
  content: "\e9e2";
}
.rbelad-gi-user-1:before {
  content: "\e9ec";
}
.rbelad-gi-interactions:before {
  content: "\e9ed";
}
.rbelad-gi-calendar:before {
  content: "\e9ee";
}
.rbelad-gi-comment:before {
  content: "\e9f0";
}
.rbelad-gi-clock1:before {
  content: "\e9f1";
}
.rbelad-gi-search:before {
  content: "\e9f2";
}
.rbelad-gi-alerm-clock-1:before {
  content: "\e900";
}
.rbelad-gi-badge-top-1:before {
  content: "\e901";
}
.rbelad-gi-list-1:before {
  content: "\e902";
}
.rbelad-gi-post-grid-1:before {
  content: "\e903";
}
.rbelad-gi-profile-card-1:before {
  content: "\e904";
}
.rbelad-gi-quote-left-1:before {
  content: "\e905";
}
.rbelad-gi-quote-right-1:before {
  content: "\e906";
}
.rbelad-gi-web-1:before {
  content: "\e907";
}
.rbelad-gi-alerm-clock-2:before {
  content: "\e908";
}
.rbelad-gi-animated-text:before {
  content: "\e909";
}
.rbelad-gi-breadcrumbs:before {
  content: "\e90a";
}
.rbelad-gi-brifecase-1:before {
  content: "\e90b";
}
.rbelad-gi-brifecase-2:before {
  content: "\e90c";
}
.rbelad-gi-builder-6:before {
  content: "\e90d";
}
.rbelad-gi-business-hour:before {
  content: "\e90e";
}
.rbelad-gi-button:before {
  content: "\e90f";
}
.rbelad-gi-button-group:before {
  content: "\e910";
}
.rbelad-gi-cart-2:before {
  content: "\e911";
}
.rbelad-gi-contact-form-7:before {
  content: "\e912";
}
.rbelad-gi-content-box:before {
  content: "\e913";
}
.rbelad-gi-credit-card-2:before {
  content: "\e914";
}
.rbelad-gi-date-edit:before {
  content: "\e915";
}
.rbelad-gi-divider:before {
  content: "\e916";
}
.rbelad-gi-dollar-1:before {
  content: "\e917";
}
.rbelad-gi-dollar-2:before {
  content: "\e918";
}
.rbelad-gi-dongle:before {
  content: "\e919";
}
.rbelad-gi-dots-1:before {
  content: "\e91a";
}
.rbelad-gi-dots-2:before {
  content: "\e91b";
}
.rbelad-gi-download:before {
  content: "\e91c";
}
.rbelad-gi-email-1:before {
  content: "\e91d";
}
.rbelad-gi-email-5:before {
  content: "\e91e";
}
.rbelad-gi-eye-1:before {
  content: "\e91f";
}
.rbelad-gi-eye-2:before {
  content: "\e920";
}
.rbelad-gi-factory:before {
  content: "\e921";
}
.rbelad-gi-flag:before {
  content: "\e922";
}
.rbelad-gi-flip-box:before {
  content: "\e923";
}
.rbelad-gi-flower-1:before {
  content: "\e924";
}
.rbelad-gi-flower-2:before {
  content: "\e925";
}
.rbelad-gi-flyer:before {
  content: "\e926";
}
.rbelad-gi-folder:before {
  content: "\e927";
}
.rbelad-gi-give-box:before {
  content: "\e928";
}
.rbelad-gi-graduate:before {
  content: "\e929";
}
.rbelad-gi-graduate-hat:before {
  content: "\e92a";
}
.rbelad-gi-growth-4:before {
  content: "\e92b";
}
.rbelad-gi-image-carousel:before {
  content: "\e92c";
}
.rbelad-gi-image-carousel-2:before {
  content: "\e92d";
}
.rbelad-gi-image-gallery:before {
  content: "\e92e";
}
.rbelad-gi-list-2:before {
  content: "\e92f";
}
.rbelad-gi-location-1:before {
  content: "\e930";
}
.rbelad-gi-location-2:before {
  content: "\e931";
}
.rbelad-gi-location-4:before {
  content: "\e932";
}
.rbelad-gi-location-5:before {
  content: "\e933";
}
.rbelad-gi-location-7:before {
  content: "\e934";
}
.rbelad-gi-location-9:before {
  content: "\e935";
}
.rbelad-gi-logo:before {
  content: "\e936";
}
.rbelad-gi-logo-carousel:before {
  content: "\e937";
}
.rbelad-gi-lottie:before {
  content: "\e938";
}
.rbelad-gi-low-1:before {
  content: "\e939";
}
.rbelad-gi-mailchimp:before {
  content: "\e93a";
}
.rbelad-gi-man-1:before {
  content: "\e93b";
}
.rbelad-gi-measurement-tape:before {
  content: "\e93c";
}
.rbelad-gi-navigation:before {
  content: "\e93d";
}
.rbelad-gi-notification:before {
  content: "\e93e";
}
.rbelad-gi-page-title:before {
  content: "\e93f";
}
.rbelad-gi-path-1:before {
  content: "\e940";
}
.rbelad-gi-pdf:before {
  content: "\e941";
}
.rbelad-gi-pencil-1:before {
  content: "\e942";
}
.rbelad-gi-pencil-box:before {
  content: "\e943";
}
.rbelad-gi-phone-4:before {
  content: "\e944";
}
.rbelad-gi-phone-5:before {
  content: "\e945";
}
.rbelad-gi-phone-6:before {
  content: "\e946";
}
.rbelad-gi-portfolio:before {
  content: "\e947";
}
.rbelad-gi-post-carousel:before {
  content: "\e948";
}
.rbelad-gi-post-edit:before {
  content: "\e949";
}
.rbelad-gi-post-excerpt:before {
  content: "\e94a";
}
.rbelad-gi-post-grid-2:before {
  content: "\e94b";
}
.rbelad-gi-price:before {
  content: "\e94c";
}
.rbelad-gi-profile-card-2:before {
  content: "\e94d";
}
.rbelad-gi-quote-left-2:before {
  content: "\e94e";
}
.rbelad-gi-quote-left-3:before {
  content: "\e94f";
}
.rbelad-gi-quote-left-4:before {
  content: "\e950";
}
.rbelad-gi-quote-right-2:before {
  content: "\e951";
}
.rbelad-gi-quote-right-3:before {
  content: "\e952";
}
.rbelad-gi-quote-right-4:before {
  content: "\e953";
}
.rbelad-gi-rating:before {
  content: "\e954";
}
.rbelad-gi-restaurant:before {
  content: "\e955";
}
.rbelad-gi-ribbon-arrow-1:before {
  content: "\e956";
}
.rbelad-gi-save:before {
  content: "\e957";
}
.rbelad-gi-scroll-down:before {
  content: "\e958";
}
.rbelad-gi-search-4:before {
  content: "\e959";
}
.rbelad-gi-section-header:before {
  content: "\e95a";
}
.rbelad-gi-setting-1:before {
  content: "\e95b";
}
.rbelad-gi-setting-2:before {
  content: "\e95c";
}
.rbelad-gi-setting-3:before {
  content: "\e95d";
}
.rbelad-gi-share-share-1:before {
  content: "\e95e";
}
.rbelad-gi-share-share-2:before {
  content: "\e95f";
}
.rbelad-gi-site-logo:before {
  content: "\e960";
}
.rbelad-gi-site-title:before {
  content: "\e961";
}
.rbelad-gi-spacer:before {
  content: "\e962";
}
.rbelad-gi-star-3:before {
  content: "\e963";
}
.rbelad-gi-star-4:before {
  content: "\e964";
}
.rbelad-gi-statue-of-liberty:before {
  content: "\e965";
}
.rbelad-gi-tabs:before {
  content: "\e966";
}
.rbelad-gi-testimonial:before {
  content: "\e967";
}
.rbelad-gi-testimonial-carousel:before {
  content: "\e968";
}
.rbelad-gi-text-editor:before {
  content: "\e969";
}
.rbelad-gi-toggle:before {
  content: "\e96a";
}
.rbelad-gi-usb:before {
  content: "\e96b";
}
.rbelad-gi-user-2:before {
  content: "\e96c";
}
.rbelad-gi-varification:before {
  content: "\e96d";
}
.rbelad-gi-web-2:before {
  content: "\e96e";
}
.rbelad-gi-web-3:before {
  content: "\e96f";
}
.rbelad-gi-web-4:before {
  content: "\e970";
}
.rbelad-gi-web-header:before {
  content: "\e971";
}
.rbelad-gi-yoga-1:before {
  content: "\e972";
}
.rbelad-gi-yoga-2:before {
  content: "\e973";
}
.rbelad-gi-yoga-3:before {
  content: "\e974";
}
