:root {
	--color-primary: #007bff;
	--color-secondary: #f93601;
	--color-black: #000000;
	--color-white: #ffffff;
}

.rbelad-flex {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.rbelad-relative {
	position: relative;
}

.rbelad-absolute {
	position: absolute;
}

.rbelad-card__item {
  flex: 0 0 auto;
  margin: 0 -15px;
  padding: 0 15px;
}

.rbelad-card__title {
	position: relative;
}

.rbelad-card__title::before {
	position: absolute;
	content: '';
}

.rbelad-card__after-wrap {
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

.rbelad-card__before-wrap {
	top: 50%;
	transform: translateY(-50%);
}