@font-face {
  font-family: 'RB-Elementor-Font';
  src:  url('../fonts/RB-Elementor-Font.eot?dg7nw5');
  src:  url('../fonts/RB-Elementor-Font.eot?dg7nw5#iefix') format('embedded-opentype'),
    url('../fonts/RB-Elementor-Font.ttf?dg7nw5') format('truetype'),
    url('../fonts/RB-Elementor-Font.woff?dg7nw5') format('woff'),
    url('../fonts/RB-Elementor-Font.svg?dg7nw5#RB-Elementor-Font') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.rbelad-icon {
  /* use to prevent issues with browser extensions that change fonts */
  font-family: 'RB-Elementor-Font';
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.elementor-panel .elementor-element .icon .rbelad-icon::after {
    position: absolute;
    top: 5px;
    right: 6px;
    content: "\e90a";
    font-size: 20px;
	color: #f93601;
}

.elementor-navigator__element__element-type .rbelad-auto-typing::after,
.elementor-navigator__element__element-type .rbelad-button::after,
.elementor-navigator__element__element-type .rbelad-button-group::after,
.elementor-navigator__element__element-type .rbelad-divider::after,
.elementor-navigator__element__element-type .rbelad-dual-text::after,
.elementor-navigator__element__element-type .rbelad-list-style::after,
.elementor-navigator__element__element-type .rbelad-lottie-animation::after,
.elementor-navigator__element__element-type .rbelad-page-list::after,
.elementor-navigator__element__element-type .rbelad-pdf-view::after,
.elementor-navigator__element__element-type .rbelad-rating-star::after,
.elementor-navigator__element__element-type .rbelad-scroll-down::after,
.elementor-navigator__element__element-type .rbelad-section-header::after,
.elementor-navigator__element__element-type .rbelad-social-icon::after {
	content: "\e90a";
	right: 10px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
    font-size: 16px;
	color: #f93601;
}

.rbelad-auto-typing:before {
  content: "\e900";
}
.rbelad-button:before {
  content: "\e901";
}
.rbelad-button-group:before {
  content: "\e902";
}
.rbelad-divider:before {
  content: "\e903";
}
.rbelad-dual-text:before {
  content: "\e904";
}
.rbelad-list-style:before {
  content: "\e905";
}
.rbelad-lottie-animation:before {
  content: "\e906";
}
.rbelad-page-list:before {
  content: "\e907";
}
.rbelad-pdf-view:before {
  content: "\e908";
}
.rbelad-rating-star:before {
  content: "\e909";
}
.rbelad-rb-addons:before {
  content: "\e90a";
}
.rbelad-scroll-down:before {
  content: "\e90b";
}
.rbelad-section-header:before {
  content: "\e90c";
}
.rbelad-social-icon:before {
  content: "\e90d";
}
.rbelad-behance:before {
  content: "\e90e";
}
.rbelad-codepen:before {
  content: "\e90f";
}
.rbelad-dribbble:before {
  content: "\e910";
}
.rbelad-facebook:before {
  content: "\e911";
}
.rbelad-github:before {
  content: "\e912";
}
.rbelad-instagram:before {
  content: "\e913";
}
.rbelad-linkedin:before {
  content: "\e914";
}
.rbelad-pinterest:before {
  content: "\e915";
}
.rbelad-tiktok:before {
  content: "\e916";
}
.rbelad-twitter:before {
  content: "\e917";
}
.rbelad-twitter-x:before {
  content: "\e918";
}
.rbelad-whatsapp:before {
  content: "\e919";
}
.rbelad-youtube:before {
  content: "\e91a";
}
.rbelad-box-open:before {
  content: "\e91b";
}
.rbelad-calendar:before {
  content: "\e91c";
}
.rbelad-credit-card:before {
  content: "\e91d";
}
.rbelad-dollar:before {
  content: "\e91e";
}
.rbelad-email:before {
  content: "\e91f";
}
.rbelad-faq:before {
  content: "\e920";
}
.rbelad-flim:before {
  content: "\e921";
}
.rbelad-heading:before {
  content: "\e922";
}
.rbelad-helpline:before {
  content: "\e923";
}
.rbelad-link-broken:before {
  content: "\e924";
}
.rbelad-location:before {
  content: "\e925";
}
.rbelad-location-2:before {
  content: "\e926";
}
.rbelad-marquee:before {
  content: "\e927";
}
.rbelad-massage:before {
  content: "\e928";
}
.rbelad-menu:before {
  content: "\e929";
}
.rbelad-movie-camera:before {
  content: "\e92a";
}
.rbelad-next-link:before {
  content: "\e92b";
}
.rbelad-phone:before {
  content: "\e92c";
}
.rbelad-quotation:before {
  content: "\e92d";
}
.rbelad-ribbon-arrow-1:before {
  content: "\e92e";
}
.rbelad-right-top-arrow-1:before {
  content: "\e92f";
}
.rbelad-teamwork:before {
  content: "\e930";
}
.rbelad-trophy:before {
  content: "\e931";
}