/* =========================
   RB Elementor General Font
========================= */
@font-face {
  font-family: "RB-Elementor-General";
  src: url("../fonts/rbelad-general-icons/RB-Elementor-General.woff2?8bqa18") format("woff2"),
       url("../fonts/rbelad-general-icons/RB-Elementor-General.woff?8bqa18") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* =========================
   Icon Base Class
========================= */
.rbelad-gf-icon {
  font-family: "RB-Elementor-General";
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;

  /* Better rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Prevent layout shift */
  speak: none;
}

.elementor-panel .elementor-element .icon,
.elementor-navigator__item {
	position: relative;
	-webkit-transition: all .2s;
	        transition: all .2s;
}

.elementor-panel .elementor-element .icon .rbelad-gf::after {
	position: absolute;
	top: 5px;
	left: 6px;
	content: "\e9b4";
	font-size: 20px;
	color: #515962;
	font-family: "RB-Elementor-General";
	font-weight: 400;

}

.elementor-navigator__item::after {
	position: absolute;
	top: 5px;
	right: 34px;
	content: "\e9b4";
	font-size: 18px;
	color: #515962;
	font-family: "RB-Elementor-General";
	font-weight: 400;
	z-index: 99;
}

.elementor-panel .elementor-element:hover .icon .rbelad-gf::after,
.elementor-panel .elementor-element:focus .icon .rbelad-gf::after,
.elementor-navigator__item:hover::after,
.elementor-navigator__item:focus::after {
	color: #f93601;
}

.rbelad-gf-alerm-clock:before {
  content: "\e900";
}
.rbelad-gf-alerm-clock-2:before {
  content: "\e901";
}
.rbelad-gf-animated-text:before {
  content: "\e902";
}
.rbelad-gf-apple:before {
  content: "\e903";
}
.rbelad-gf-arrow-down-1:before {
  content: "\e904";
}
.rbelad-gf-arrow-right-1:before {
  content: "\e905";
}
.rbelad-gf-arrow-right-2:before {
  content: "\e906";
}
.rbelad-gf-arrow-right-3:before {
  content: "\e907";
}
.rbelad-gf-arrow-right-4:before {
  content: "\e908";
}
.rbelad-gf-arrow-right-5:before {
  content: "\e909";
}
.rbelad-gf-art-box:before {
  content: "\e90a";
}
.rbelad-gf-audio:before {
  content: "\e90b";
}
.rbelad-gf-badge-top:before {
  content: "\e90c";
}
.rbelad-gf-badge-top-2:before {
  content: "\e90d";
}
.rbelad-gf-bed:before {
  content: "\e90e";
}
.rbelad-gf-behance:before {
  content: "\e90f";
}
.rbelad-gf-bill-recept:before {
  content: "\e910";
}
.rbelad-gf-bluetooth:before {
  content: "\e911";
}
.rbelad-gf-bookmark:before {
  content: "\e912";
}
.rbelad-gf-box-open-1:before {
  content: "\e913";
}
.rbelad-gf-box-open-2:before {
  content: "\e914";
}
.rbelad-gf-brain-1:before {
  content: "\e915";
}
.rbelad-gf-brain-2:before {
  content: "\e916";
}
.rbelad-gf-brain-3:before {
  content: "\e917";
}
.rbelad-gf-breadcrumbs:before {
  content: "\e918";
}
.rbelad-gf-brifecase-1:before {
  content: "\e919";
}
.rbelad-gf-brifecase-2:before {
  content: "\e91a";
}
.rbelad-gf-builder-1:before {
  content: "\e91b";
}
.rbelad-gf-builder-2:before {
  content: "\e91c";
}
.rbelad-gf-builder-3:before {
  content: "\e91d";
}
.rbelad-gf-builder-4:before {
  content: "\e91e";
}
.rbelad-gf-builder-5:before {
  content: "\e91f";
}
.rbelad-gf-builder-6:before {
  content: "\e920";
}
.rbelad-gf-bulb-1:before {
  content: "\e921";
}
.rbelad-gf-bulb-2:before {
  content: "\e922";
}
.rbelad-gf-bulb-3:before {
  content: "\e923";
}
.rbelad-gf-bulb-4:before {
  content: "\e924";
}
.rbelad-gf-business-hour:before {
  content: "\e925";
}
.rbelad-gf-button:before {
  content: "\e926";
}
.rbelad-gf-button-group:before {
  content: "\e927";
}
.rbelad-gf-calendar:before {
  content: "\e928";
}
.rbelad-gf-camera:before {
  content: "\e929";
}
.rbelad-gf-cart-1:before {
  content: "\e92a";
}
.rbelad-gf-cart-2:before {
  content: "\e92b";
}
.rbelad-gf-check-mark:before {
  content: "\e92c";
}
.rbelad-gf-chef:before {
  content: "\e92d";
}
.rbelad-gf-circle:before {
  content: "\e92e";
}
.rbelad-gf-clock-1:before {
  content: "\e92f";
}
.rbelad-gf-clock-2:before {
  content: "\e930";
}
.rbelad-gf-cloud:before {
  content: "\e931";
}
.rbelad-gf-code:before {
  content: "\e932";
}
.rbelad-gf-codepen:before {
  content: "\e933";
}
.rbelad-gf-color-plate:before {
  content: "\e934";
}
.rbelad-gf-comment:before {
  content: "\e935";
}
.rbelad-gf-comment-2:before {
  content: "\e936";
}
.rbelad-gf-comments:before {
  content: "\e937";
}
.rbelad-gf-contact-form-7:before {
  content: "\e938";
}
.rbelad-gf-content-box:before {
  content: "\e939";
}
.rbelad-gf-credit-card-1:before {
  content: "\e93a";
}
.rbelad-gf-credit-card-2:before {
  content: "\e93b";
}
.rbelad-gf-date-edit:before {
  content: "\e93c";
}
.rbelad-gf-divider:before {
  content: "\e93d";
}
.rbelad-gf-dollar-1:before {
  content: "\e93e";
}
.rbelad-gf-dollar-2:before {
  content: "\e93f";
}
.rbelad-gf-dongle:before {
  content: "\e940";
}
.rbelad-gf-dots-1:before {
  content: "\e941";
}
.rbelad-gf-dots-2:before {
  content: "\e942";
}
.rbelad-gf-download:before {
  content: "\e943";
}
.rbelad-gf-dribbble:before {
  content: "\e944";
}
.rbelad-gf-email-1:before {
  content: "\e945";
}
.rbelad-gf-email-2:before {
  content: "\e946";
}
.rbelad-gf-email-3:before {
  content: "\e947";
}
.rbelad-gf-email-4:before {
  content: "\e948";
}
.rbelad-gf-email-5:before {
  content: "\e949";
}
.rbelad-gf-eye-1:before {
  content: "\e94a";
}
.rbelad-gf-eye-2:before {
  content: "\e94b";
}
.rbelad-gf-facebook-1:before {
  content: "\e94c";
}
.rbelad-gf-facebook-2:before {
  content: "\e94d";
}
.rbelad-gf-factory:before {
  content: "\e94e";
}
.rbelad-gf-faq:before {
  content: "\e94f";
}
.rbelad-gf-flag:before {
  content: "\e950";
}
.rbelad-gf-flim:before {
  content: "\e951";
}
.rbelad-gf-flip-box:before {
  content: "\e952";
}
.rbelad-gf-flower-1:before {
  content: "\e953";
}
.rbelad-gf-flower-2:before {
  content: "\e954";
}
.rbelad-gf-flyer:before {
  content: "\e955";
}
.rbelad-gf-folder:before {
  content: "\e956";
}
.rbelad-gf-github:before {
  content: "\e957";
}
.rbelad-gf-give-box:before {
  content: "\e958";
}
.rbelad-gf-graduate:before {
  content: "\e959";
}
.rbelad-gf-graduate-hat:before {
  content: "\e95a";
}
.rbelad-gf-graduate-hat-2:before {
  content: "\e95b";
}
.rbelad-gf-graduate-hat-3:before {
  content: "\e95c";
}
.rbelad-gf-growth-1:before {
  content: "\e95d";
}
.rbelad-gf-growth-2:before {
  content: "\e95e";
}
.rbelad-gf-growth-3:before {
  content: "\e95f";
}
.rbelad-gf-growth-4:before {
  content: "\e960";
}
.rbelad-gf-hand-shape:before {
  content: "\e961";
}
.rbelad-gf-heading:before {
  content: "\e962";
}
.rbelad-gf-helpline:before {
  content: "\e963";
}
.rbelad-gf-home-1:before {
  content: "\e964";
}
.rbelad-gf-home-2:before {
  content: "\e965";
}
.rbelad-gf-house-sale:before {
  content: "\e966";
}
.rbelad-gf-html:before {
  content: "\e967";
}
.rbelad-gf-image:before {
  content: "\e968";
}
.rbelad-gf-image-2:before {
  content: "\e969";
}
.rbelad-gf-image-carousel:before {
  content: "\e96a";
}
.rbelad-gf-image-carousel-2:before {
  content: "\e96b";
}
.rbelad-gf-image-gallery:before {
  content: "\e96c";
}
.rbelad-gf-instagram:before {
  content: "\e96d";
}
.rbelad-gf-laboratory:before {
  content: "\e96e";
}
.rbelad-gf-leaf:before {
  content: "\e96f";
}
.rbelad-gf-like:before {
  content: "\e970";
}
.rbelad-gf-link-broken:before {
  content: "\e971";
}
.rbelad-gf-linkedin:before {
  content: "\e972";
}
.rbelad-gf-linkedin-2:before {
  content: "\e973";
}
.rbelad-gf-list:before {
  content: "\e974";
}
.rbelad-gf-list-2:before {
  content: "\e975";
}
.rbelad-gf-location-1:before {
  content: "\e976";
}
.rbelad-gf-location-2:before {
  content: "\e977";
}
.rbelad-gf-location-3:before {
  content: "\e978";
}
.rbelad-gf-location-4:before {
  content: "\e979";
}
.rbelad-gf-location-5:before {
  content: "\e97a";
}
.rbelad-gf-location-6:before {
  content: "\e97b";
}
.rbelad-gf-location-7:before {
  content: "\e97c";
}
.rbelad-gf-location-8:before {
  content: "\e97d";
}
.rbelad-gf-location-9:before {
  content: "\e97e";
}
.rbelad-gf-logo:before {
  content: "\e97f";
}
.rbelad-gf-logo-carousel:before {
  content: "\e980";
}
.rbelad-gf-lottie:before {
  content: "\e981";
}
.rbelad-gf-love-1:before {
  content: "\e982";
}
.rbelad-gf-love-2:before {
  content: "\e983";
}
.rbelad-gf-low-1:before {
  content: "\e984";
}
.rbelad-gf-mailchimp:before {
  content: "\e985";
}
.rbelad-gf-man-1:before {
  content: "\e986";
}
.rbelad-gf-measurement-tape:before {
  content: "\e987";
}
.rbelad-gf-menu:before {
  content: "\e988";
}
.rbelad-gf-mike-1:before {
  content: "\e989";
}
.rbelad-gf-mike-2:before {
  content: "\e98a";
}
.rbelad-gf-movie-camera:before {
  content: "\e98b";
}
.rbelad-gf-navigation:before {
  content: "\e98c";
}
.rbelad-gf-next:before {
  content: "\e98d";
}
.rbelad-gf-notebook-1:before {
  content: "\e98e";
}
.rbelad-gf-notebook-2:before {
  content: "\e98f";
}
.rbelad-gf-notification:before {
  content: "\e990";
}
.rbelad-gf-page-title:before {
  content: "\e991";
}
.rbelad-gf-paint-pen:before {
  content: "\e992";
}
.rbelad-gf-path-1:before {
  content: "\e993";
}
.rbelad-gf-pdf:before {
  content: "\e994";
}
.rbelad-gf-pencil-1:before {
  content: "\e995";
}
.rbelad-gf-pencil-box:before {
  content: "\e996";
}
.rbelad-gf-phone-1:before {
  content: "\e997";
}
.rbelad-gf-phone-2:before {
  content: "\e998";
}
.rbelad-gf-phone-3:before {
  content: "\e999";
}
.rbelad-gf-phone-4:before {
  content: "\e99a";
}
.rbelad-gf-phone-5:before {
  content: "\e99b";
}
.rbelad-gf-phone-6:before {
  content: "\e99c";
}
.rbelad-gf-pinterest:before {
  content: "\e99d";
}
.rbelad-gf-play:before {
  content: "\e99e";
}
.rbelad-gf-portfolio:before {
  content: "\e99f";
}
.rbelad-gf-post-carousel:before {
  content: "\e9a0";
}
.rbelad-gf-post-edit:before {
  content: "\e9a1";
}
.rbelad-gf-post-excerpt:before {
  content: "\e9a2";
}
.rbelad-gf-post-grid:before {
  content: "\e9a3";
}
.rbelad-gf-post-grid-2:before {
  content: "\e9a4";
}
.rbelad-gf-post-title:before {
  content: "\e9a5";
}
.rbelad-gf-price:before {
  content: "\e9a6";
}
.rbelad-gf-profile-card:before {
  content: "\e9a7";
}
.rbelad-gf-profile-card-2:before {
  content: "\e9a8";
}
.rbelad-gf-progress:before {
  content: "\e9a9";
}
.rbelad-gf-protect:before {
  content: "\e9aa";
}
.rbelad-gf-quote-left:before {
  content: "\e9ab";
}
.rbelad-gf-quote-left-2:before {
  content: "\e9ac";
}
.rbelad-gf-quote-left-3:before {
  content: "\e9ad";
}
.rbelad-gf-quote-left-4:before {
  content: "\e9ae";
}
.rbelad-gf-quote-right:before {
  content: "\e9af";
}
.rbelad-gf-quote-right-2:before {
  content: "\e9b0";
}
.rbelad-gf-quote-right-3:before {
  content: "\e9b1";
}
.rbelad-gf-quote-right-4:before {
  content: "\e9b2";
}
.rbelad-gf-rating:before {
  content: "\e9b3";
}
.rbelad-gf-rb-addons:before {
  content: "\e9b4";
}
.rbelad-gf-read-more:before {
  content: "\e9b5";
}
.rbelad-gf-restaurant:before {
  content: "\e9b6";
}
.rbelad-gf-ribbon-arrow-1:before {
  content: "\e9b7";
}
.rbelad-gf-rocket-1:before {
  content: "\e9b8";
}
.rbelad-gf-save:before {
  content: "\e9b9";
}
.rbelad-gf-scroll-down:before {
  content: "\e9ba";
}
.rbelad-gf-search-1:before {
  content: "\e9bb";
}
.rbelad-gf-search-2:before {
  content: "\e9bc";
}
.rbelad-gf-search-3:before {
  content: "\e9bd";
}
.rbelad-gf-search-4:before {
  content: "\e9be";
}
.rbelad-gf-section-header:before {
  content: "\e9bf";
}
.rbelad-gf-setting-1:before {
  content: "\e9c0";
}
.rbelad-gf-setting-2:before {
  content: "\e9c1";
}
.rbelad-gf-setting-3:before {
  content: "\e9c2";
}
.rbelad-gf-share-share-1:before {
  content: "\e9c3";
}
.rbelad-gf-share-share-2:before {
  content: "\e9c4";
}
.rbelad-gf-shower:before {
  content: "\e9c5";
}
.rbelad-gf-site-logo:before {
  content: "\e9c6";
}
.rbelad-gf-site-title:before {
  content: "\e9c7";
}
.rbelad-gf-slider:before {
  content: "\e9c8";
}
.rbelad-gf-social-icons:before {
  content: "\e9c9";
}
.rbelad-gf-spacer:before {
  content: "\e9ca";
}
.rbelad-gf-star:before {
  content: "\e9cb";
}
.rbelad-gf-star-2:before {
  content: "\e9cc";
}
.rbelad-gf-star-3:before {
  content: "\e9cd";
}
.rbelad-gf-star-4:before {
  content: "\e9ce";
}
.rbelad-gf-statue-of-liberty:before {
  content: "\e9cf";
}
.rbelad-gf-step-flew-1:before {
  content: "\e9d0";
}
.rbelad-gf-step-flew-2:before {
  content: "\e9d1";
}
.rbelad-gf-step-flew-3:before {
  content: "\e9d2";
}
.rbelad-gf-tabs:before {
  content: "\e9d3";
}
.rbelad-gf-tag:before {
  content: "\e9d4";
}
.rbelad-gf-tag-2:before {
  content: "\e9d5";
}
.rbelad-gf-target:before {
  content: "\e9d6";
}
.rbelad-gf-team-1:before {
  content: "\e9d7";
}
.rbelad-gf-team-2:before {
  content: "\e9d8";
}
.rbelad-gf-testimonial:before {
  content: "\e9d9";
}
.rbelad-gf-testimonial-carousel:before {
  content: "\e9da";
}
.rbelad-gf-text-editor:before {
  content: "\e9db";
}
.rbelad-gf-text-path:before {
  content: "\e9dc";
}
.rbelad-gf-tiktok:before {
  content: "\e9dd";
}
.rbelad-gf-toggle:before {
  content: "\e9de";
}
.rbelad-gf-tree:before {
  content: "\e9df";
}
.rbelad-gf-triangle:before {
  content: "\e9e0";
}
.rbelad-gf-trophy:before {
  content: "\e9e1";
}
.rbelad-gf-twitter:before {
  content: "\e9e2";
}
.rbelad-gf-twitter-x:before {
  content: "\e9e3";
}
.rbelad-gf-underline-1:before {
  content: "\e9e4";
}
.rbelad-gf-underline-2:before {
  content: "\e9e5";
}
.rbelad-gf-underline-3:before {
  content: "\e9e6";
}
.rbelad-gf-underline-4:before {
  content: "\e9e7";
}
.rbelad-gf-usb:before {
  content: "\e9e8";
}
.rbelad-gf-user-1:before {
  content: "\e9e9";
}
.rbelad-gf-user-2:before {
  content: "\e9ea";
}
.rbelad-gf-varification:before {
  content: "\e9eb";
}
.rbelad-gf-web:before {
  content: "\e9ec";
}
.rbelad-gf-web-2:before {
  content: "\e9ed";
}
.rbelad-gf-web-3:before {
  content: "\e9ee";
}
.rbelad-gf-web-4:before {
  content: "\e9ef";
}
.rbelad-gf-web-header:before {
  content: "\e9f0";
}
.rbelad-gf-whatsapp:before {
  content: "\e9f1";
}
.rbelad-gf-windows-10:before {
  content: "\e9f2";
}
.rbelad-gf-yoga-1:before {
  content: "\e9f3";
}
.rbelad-gf-yoga-2:before {
  content: "\e9f4";
}
.rbelad-gf-yoga-3:before {
  content: "\e9f5";
}
.rbelad-gf-youtube:before {
  content: "\e9f6";
}