@font-face {
  font-family: 'RB-Elementor-Font';
  src:  url('../fonts/RB-Elementor-Font.eot?dg7nw5');
  src:  url('../fonts/RB-Elementor-Font.eot?dg7nw5#iefix') format('embedded-opentype'),
    url('../fonts/RB-Elementor-Font.ttf?dg7nw5') format('truetype'),
    url('../fonts/RB-Elementor-Font.woff?dg7nw5') format('woff'),
    url('../fonts/RB-Elementor-Font.svg?dg7nw5#RB-Elementor-Font') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.rbelad-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'RB-Elementor-Font' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.elementor-panel .elementor-element .icon .rbelad-icon:after {
    position: absolute;
    top: 5px;
    right: 6px;
    content: "\e918";
    font-size: 20px;
	color: #f93601;
}

.rbelad-search-box:before {
  content: "\e900";
}
.rbelad-section-header:before {
  content: "\e901";
}
.rbelad-service-latest-posts:before {
  content: "\e902";
}
.rbelad-service-list:before {
  content: "\e903";
}
.rbelad-service-post-carousel:before {
  content: "\e904";
}
.rbelad-service-post-grid:before {
  content: "\e905";
}
.rbelad-share-button:before {
  content: "\e906";
}
.rbelad-simple-menu:before {
  content: "\e907";
}
.rbelad-site-logo:before {
  content: "\e908";
}
.rbelad-site-tagline:before {
  content: "\e909";
}
.rbelad-site-title:before {
  content: "\e90a";
}
.rbelad-skill-bar:before {
  content: "\e90b";
}
.rbelad-social-icon:before {
  content: "\e90c";
}
.rbelad-subscribe-form:before {
  content: "\e90d";
}
.rbelad-tag-meta:before {
  content: "\e90e";
}
.rbelad-team-carousel:before {
  content: "\e90f";
}
.rbelad-team-grid:before {
  content: "\e910";
}
.rbelad-testimonial-carousel:before {
  content: "\e911";
}
.rbelad-testimonial-grid:before {
  content: "\e912";
}
.rbelad-testimonial-section:before {
  content: "\e913";
}
.rbelad-text-scrolling:before {
  content: "\e914";
}
.rbelad-timeline:before {
  content: "\e915";
}
.rbelad-twitter-feed:before {
  content: "\e916";
}
.rbelad-video-section:before {
  content: "\e917";
}
.rbelad-rb-addons:before {
  content: "\e918";
}
.rbelad-about-image-section:before {
  content: "\e919";
}
.rbelad-accordion:before {
  content: "\e91a";
}
.rbelad-advanced-tabs:before {
  content: "\e91b";
}
.rbelad-alert:before {
  content: "\e91c";
}
.rbelad-archive-description:before {
  content: "\e91d";
}
.rbelad-archive-posts:before {
  content: "\e91e";
}
.rbelad-archive-title:before {
  content: "\e91f";
}
.rbelad-author-meta:before {
  content: "\e920";
}
.rbelad-auto-typing:before {
  content: "\e921";
}
.rbelad-business-hours:before {
  content: "\e922";
}
.rbelad-button:before {
  content: "\e923";
}
.rbelad-button-group:before {
  content: "\e924";
}
.rbelad-call-to-action:before {
  content: "\e925";
}
.rbelad-category-meta:before {
  content: "\e926";
}
.rbelad-comment-form:before {
  content: "\e927";
}
.rbelad-comment-header:before {
  content: "\e928";
}
.rbelad-comment-list:before {
  content: "\e929";
}
.rbelad-comment-meta:before {
  content: "\e92a";
}
.rbelad-comment-pagination:before {
  content: "\e92b";
}
.rbelad-contact-form:before {
  content: "\e92c";
}
.rbelad-contact-info:before {
  content: "\e92d";
}
.rbelad-countdown:before {
  content: "\e92e";
}
.rbelad-count-down:before {
  content: "\e92f";
}
.rbelad-countdown-section:before {
  content: "\e930";
}
.rbelad-date-meta:before {
  content: "\e931";
}
.rbelad-divider:before {
  content: "\e932";
}
.rbelad-donation-latest-posts:before {
  content: "\e933";
}
.rbelad-donation-post-carousel:before {
  content: "\e934";
}
.rbelad-donation-post-category:before {
  content: "\e935";
}
.rbelad-donation-post-grid:before {
  content: "\e936";
}
.rbelad-donation-post-section:before {
  content: "\e937";
}
.rbelad-drop-cap:before {
  content: "\e938";
}
.rbelad-dual-text:before {
  content: "\e939";
}
.rbelad-email:before {
  content: "\e93a";
}
.rbelad-event-post-grid:before {
  content: "\e93b";
}
.rbelad-event-post-list:before {
  content: "\e93c";
}
.rbelad-faq:before {
  content: "\e93d";
}
.rbelad-faq-section:before {
  content: "\e93e";
}
.rbelad-featured-banner:before {
  content: "\e93f";
}
.rbelad-featured-slider:before {
  content: "\e940";
}
.rbelad-feature-list:before {
  content: "\e941";
}
.rbelad-fun-fact:before {
  content: "\e942";
}
.rbelad-google-map:before {
  content: "\e943";
}
.rbelad-google-map-section:before {
  content: "\e944";
}
.rbelad-gradient-text:before {
  content: "\e945";
}
.rbelad-hero-section:before {
  content: "\e946";
}
.rbelad-hero-section-slider:before {
  content: "\e947";
}
.rbelad-icon-box:before {
  content: "\e948";
}
.rbelad-image-grid:before {
  content: "\e949";
}
.rbelad-latest-post-list:before {
  content: "\e94a";
}
.rbelad-list-style:before {
  content: "\e94b";
}
.rbelad-location:before {
  content: "\e94c";
}
.rbelad-location-2:before {
  content: "\e94d";
}
.rbelad-logo-carousel:before {
  content: "\e94e";
}
.rbelad-logo-list:before {
  content: "\e94f";
}
.rbelad-logo-sliding:before {
  content: "\e950";
}
.rbelad-lottie-animation:before {
  content: "\e951";
}
.rbelad-massage:before {
  content: "\e952";
}
.rbelad-mega-menu:before {
  content: "\e953";
}
.rbelad-navigation-menu:before {
  content: "\e954";
}
.rbelad-news-ticker:before {
  content: "\e955";
}
.rbelad-page-list:before {
  content: "\e956";
}
.rbelad-page-pagination:before {
  content: "\e957";
}
.rbelad-page-title:before {
  content: "\e958";
}
.rbelad-pdf-view:before {
  content: "\e959";
}
.rbelad-phone:before {
  content: "\e95a";
}
.rbelad-portfolio-section:before {
  content: "\e95b";
}
.rbelad-post-carousel:before {
  content: "\e95c";
}
.rbelad-post-edit-meta:before {
  content: "\e95d";
}
.rbelad-post-excerpt:before {
  content: "\e95e";
}
.rbelad-post-grid:before {
  content: "\e95f";
}
.rbelad-post-list:before {
  content: "\e960";
}
.rbelad-post-meta-separator:before {
  content: "\e961";
}
.rbelad-post-navigation:before {
  content: "\e962";
}
.rbelad-post-pagination:before {
  content: "\e963";
}
.rbelad-post-reading-time-meta:before {
  content: "\e964";
}
.rbelad-post-thumbnail:before {
  content: "\e965";
}
.rbelad-post-view-meta:before {
  content: "\e966";
}
.rbelad-project-post-carousel:before {
  content: "\e967";
}
.rbelad-project-post-grid:before {
  content: "\e968";
}
.rbelad-project-post-list:before {
  content: "\e969";
}
.rbelad-rating-skill:before {
  content: "\e96a";
}
.rbelad-read-more-button:before {
  content: "\e96b";
}
.rbelad-resume-list:before {
  content: "\e96c";
}
.rbelad-ribbon-arrow-1:before {
  content: "\e96d";
}
.rbelad-scroll-down:before {
  content: "\e96e";
}